wsdl/AssociationTransformService.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:tns="http://www.omg.org/spec/CTS2/1.1/wsdl/AssociationTransformServices"
xmlns:baseReadService="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseReadServices"
xmlns:baseServiceTypes="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseServiceTypes"
xmlns:exceptions="http://www.omg.org/spec/CTS2/1.1/Exceptions"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
name="AssociationTransformService"
targetNamespace="http://www.omg.org/spec/CTS2/1.1/wsdl/AssociationTransformServices">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.1/wsdl/AssociationTransformServices"
      schemaLocation="AssociationTransformServiceTypes.xsd" />
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.1/Exceptions" schemaLocation="../core/Exceptions.xsd" />
    </xsd:schema>

  </wsdl:types>

  <!-- BaseService Messages -->
  <wsdl:message name="getServiceDescription">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescription" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProvider">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProvider" />
  </wsdl:message>

  <wsdl:message name="getServiceNameResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceNameResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProviderResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProviderResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceVersion">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersion" />
  </wsdl:message>

  <wsdl:message name="getServiceVersionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersionResponse" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationTypeResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationTypeResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfileResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfileResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescriptionResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationType">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationType" />
  </wsdl:message>

  <wsdl:message name="getServiceName">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceName" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormat" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespace">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespace" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespaceResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespaceResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormat" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfile">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfile" />
  </wsdl:message>

  <!-- End BaseService Messages -->
  <wsdl:message name="getKnownCodeSystemVersions">
    <wsdl:part name="parameters" element="tns:getKnownCodeSystemVersions" />
  </wsdl:message>

  <wsdl:message name="getKnownCodeSystemVersionsResponse">
    <wsdl:part name="parameters" element="tns:getKnownCodeSystemVersionsResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedOntologyLanguageAndSyntax">
    <wsdl:part name="parameters" element="tns:getSupportedOntologyLanguageAndSyntax" />
  </wsdl:message>

  <wsdl:message name="getSupportedOntologyLanguageAndSyntaxResponse">
    <wsdl:part name="parameters" element="tns:getSupportedOntologyLanguageAndSyntaxResponse" />
  </wsdl:message>

  <wsdl:message name="fromAssociationList">
    <wsdl:part name="parameters" element="tns:fromAssociationList" />
  </wsdl:message>

  <wsdl:message name="fromAssociationListResponse">
    <wsdl:part name="parameters" element="tns:fromAssociationListResponse" />
  </wsdl:message>

  <wsdl:message name="toAssociationFormat">
    <wsdl:part name="parameters" element="tns:toAssociationFormat" />
  </wsdl:message>

  <wsdl:message name="toAssociationFormatResponse">
    <wsdl:part name="parameters" element="tns:toAssociationFormatResponse" />
  </wsdl:message>
  
  <wsdl:message name="EntityExpressionSyntaxError">
    <wsdl:part name="fault" element="exceptions:EntityExpressionSyntaxError" />
  </wsdl:message>
  
  <wsdl:message name="UnknownCodeSystemVersion">
    <wsdl:part name="fault" element="exceptions:UnknownCodeSystemVersion" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedOntologySyntax">
    <wsdl:part name="fault" element="exceptions:UnsupportedOntologySyntax" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedOntologyLanguage">
    <wsdl:part name="fault" element="exceptions:UnsupportedOntologyLanguage" />
  </wsdl:message>

  <wsdl:portType name="AssociationTransformServicePortType">
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <wsdl:input name="getSupportedFormat" message="tns:getSupportedFormat" />
      <wsdl:output name="getSupportedFormatResponse" message="tns:getSupportedFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <wsdl:input name="getServiceVersion" message="tns:getServiceVersion" />
      <wsdl:output name="getServiceVersionResponse" message="tns:getServiceVersionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <wsdl:input name="getDefaultFormat" message="tns:getDefaultFormat" />
      <wsdl:output name="getDefaultFormatResponse" message="tns:getDefaultFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <wsdl:input name="getKnownNamespace" message="tns:getKnownNamespace" />
      <wsdl:output name="getKnownNamespaceResponse" message="tns:getKnownNamespaceResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <wsdl:input name="getSupportedProfile" message="tns:getSupportedProfile" />
      <wsdl:output name="getSupportedProfileResponse" message="tns:getSupportedProfileResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <wsdl:input name="getServiceProvider" message="tns:getServiceProvider" />
      <wsdl:output name="getServiceProviderResponse" message="tns:getServiceProviderResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <wsdl:input name="getServiceName" message="tns:getServiceName" />
      <wsdl:output name="getServiceNameResponse" message="tns:getServiceNameResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <wsdl:input name="getServiceDescription" message="tns:getServiceDescription" />
      <wsdl:output name="getServiceDescriptionResponse"
      message="tns:getServiceDescriptionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <wsdl:input name="getImplementationType" message="tns:getImplementationType" />
      <wsdl:output name="getImplementationTypeResponse"
      message="tns:getImplementationTypeResponse" />
    </wsdl:operation>

    <!-- End BaseService -->
    <wsdl:operation name="getKnownCodeSystemVersions">
      <wsdl:input name="getKnownCodeSystemVersions" message="tns:getKnownCodeSystemVersions" />
      <wsdl:output name="getKnownCodeSystemVersionsResponse"
      message="tns:getKnownCodeSystemVersionsResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedOntologyLanguageAndSyntax">
      <wsdl:input name="getSupportedOntologyLanguageAndSyntax"
      message="tns:getSupportedOntologyLanguageAndSyntax" />
      <wsdl:output name="getSupportedOntologyLanguageAndSyntaxResponse"
      message="tns:getSupportedOntologyLanguageAndSyntaxResponse" />
    </wsdl:operation>

    <wsdl:operation name="fromAssociationList">
      <wsdl:input name="fromAssociationList" message="tns:fromAssociationList" />
      <wsdl:output name="fromAssociationListResponse" message="tns:fromAssociationListResponse" />
      <wsdl:fault name="UnsupportedOntologySyntax" message="tns:UnsupportedOntologySyntax"/>
      <wsdl:fault name="UnsupportedOntologyLanguage" message="tns:UnsupportedOntologyLanguage"/>
    </wsdl:operation>

    <wsdl:operation name="toAssociationFormat">
      <wsdl:input name="toAssociationFormat" message="tns:toAssociationFormat" />
      <wsdl:output name="toAssociationFormatResponse" message="tns:toAssociationFormatResponse" />
      <wsdl:fault name="EntityExpressionSyntaxError" message="tns:EntityExpressionSyntaxError"/>
      <wsdl:fault name="UnknownCodeSystemVersion" message="tns:UnknownCodeSystemVersion"/>
      <wsdl:fault name="UnsupportedOntologySyntax" message="tns:UnsupportedOntologySyntax"/>
      <wsdl:fault name="UnsupportedOntologyLanguage" message="tns:UnsupportedOntologyLanguage"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="AssociationTransformServiceSoapBinding"
  type="tns:AssociationTransformServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">alist of the representation formats
      supported by the service. Example: text/html, text/xml, application/json</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the version or release identifier of
      the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceVersion">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the default format used by the
      service unless otherwise specified</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDefaultFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getDefaultFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of namespaces recognized by
      this service. Because many namespace identifiers tend to be cryptic (i.e. HL7 OIDs, BioPortal
      URL's, etc.), &lt;i&gt;knownNamespace&lt;/i&gt; includes the namespace name, an optional URI
      \emph{and} a place to provide textual detail describing what the namespace references. Note
      that namespace names must be unique across an entire CTS2 implementation - the same
      namespace name cannot represent one namespace in code system A and a second in code system B.
      Note also that namespace names are \emph{local} to a service instance. Information that is
      communicated between service instances, recorded in data tables or client software
      \emph{must} use full URIs.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownNamespace">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownNamespaceResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a reference to the individual or
      organization that provides the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceProvider">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceProviderResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of service profiles that are
      supported by this service implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedProfile">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a description of the service, its
      use, etc.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceDescription">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a short name that identifies the
      particular service and implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceName">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceNameResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the particular implementation type(s)
      supported by this profile</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getImplementationType">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getImplementationTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!-- EndBaseService -->
    <wsdl:operation name="getKnownCodeSystemVersions">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownCodeSystemVersions">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownCodeSystemVersionsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedOntologyLanguageAndSyntax">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">an ontology language and syntax that
      is supported by the transformation service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedOntologyLanguageAndSyntax">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedOntologyLanguageAndSyntaxResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="fromAssociationList">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return an expression that represents
      &lt;i&gt;associationList&lt;/i&gt; in the named &lt;i&gt;languageAndSyntax&lt;/i&gt;.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="fromAssociationList">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="fromAssociationListResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologySyntax">
        <wsdl:documentation>The supplied ontology syntax is not supported by the service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologySyntax" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologyLanguage">
        <wsdl:documentation>The supplied ontology language is not supported by the
        service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologyLanguage" />
      </wsdl:fault>

    </wsdl:operation>

    <wsdl:operation name="toAssociationFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Transform
      &lt;i&gt;entityExpression&lt;/i&gt; into a lot of one or more &lt;i&gt;Associations&lt;/i&gt;
      in the context of the supplied &lt;i&gt;codeSystemVersion&lt;/i&gt;.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="toAssociationFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="toAssociationFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="EntityExpressionSyntaxError">
        <wsdl:documentation>The entity expression is syntactically incorrect and cannot be
        parsed</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="EntityExpressionSyntaxError" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystemVersion">
        <wsdl:documentation>The referenced &lt;i&gt;CodeSystemVersion&lt;/i&gt; is not recognized by the
        service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystemVersion" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologySyntax">
        <wsdl:documentation>The supplied ontology syntax is not supported by the service</wsdl:documentation>

        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologySyntax" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologyLanguage">
        <wsdl:documentation>The supplied ontology language is not supported by the
        service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologyLanguage" />
      </wsdl:fault>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="AssociationTransformService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">A service that transforms various
    external formats into the CTS2 &lt;i&gt;Association&lt;/i&gt; model and visa
    versa.</documentation>

    <wsdl:port name="EntityDescriptionReadServicePort"
    binding="tns:AssociationTransformServiceSoapBinding">
      <soap:address location="http://localhost:9090/AssociationTransformServicePort" />
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
