wsdl/BaseImportService.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:tns="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseImportServices"
xmlns:baseServiceTypes="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseServiceTypes"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
name="BaseImportService"
targetNamespace="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseImportServices">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseImportServices"
      schemaLocation="BaseImportServiceTypes.xsd" />
    </xsd:schema>

  </wsdl:types>

  <!-- BaseService Messages -->
  <wsdl:message name="getServiceDescription">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescription" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProvider">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProvider" />
  </wsdl:message>

  <wsdl:message name="getServiceNameResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceNameResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProviderResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProviderResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceVersion">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersion" />
  </wsdl:message>

  <wsdl:message name="getServiceVersionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersionResponse" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationTypeResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationTypeResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfileResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfileResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescriptionResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationType">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationType" />
  </wsdl:message>

  <wsdl:message name="getServiceName">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceName" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormat" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespace">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespace" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespaceResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespaceResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormat" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfile">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfile" />
  </wsdl:message>

  <!-- End BaseService Messages -->
  <wsdl:message name="validateResponse">
    <wsdl:part name="parameters" element="tns:validateResponse" />
  </wsdl:message>

  <wsdl:message name="getStatus">
    <wsdl:part name="parameters" element="tns:getStatus" />
  </wsdl:message>

  <wsdl:message name="getLog">
    <wsdl:part name="parameters" element="tns:getLog" />
  </wsdl:message>

  <wsdl:message name="getStatusResponse">
    <wsdl:part name="parameters" element="tns:getStatusResponse" />
  </wsdl:message>

  <wsdl:message name="clearLogResponse">
    <wsdl:part name="parameters" element="tns:clearLogResponse" />
  </wsdl:message>

  <wsdl:message name="clearLog">
    <wsdl:part name="parameters" element="tns:clearLog" />
  </wsdl:message>

  <wsdl:message name="importResponse">
    <wsdl:part name="parameters" element="tns:importResponse" />
  </wsdl:message>

  <wsdl:message name="validate">
    <wsdl:part name="parameters" element="tns:validate" />
  </wsdl:message>

  <wsdl:message name="getLogResponse">
    <wsdl:part name="parameters" element="tns:getLogResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedLanguageAndSyntax">
    <wsdl:part name="parameters" element="tns:getSupportedLanguageAndSyntax" />
  </wsdl:message>

  <wsdl:message name="getSupportedLanguageAndSyntaxResponse">
    <wsdl:part name="parameters" element="tns:getSupportedLanguageAndSyntaxResponse" />
  </wsdl:message>

  <wsdl:message name="import">
    <wsdl:part name="parameters" element="tns:import" />
  </wsdl:message>

  <wsdl:portType name="BaseImportServicePortType">
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <wsdl:input name="getSupportedFormat" message="tns:getSupportedFormat" />
      <wsdl:output name="getSupportedFormatResponse" message="tns:getSupportedFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <wsdl:input name="getServiceVersion" message="tns:getServiceVersion" />
      <wsdl:output name="getServiceVersionResponse" message="tns:getServiceVersionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <wsdl:input name="getDefaultFormat" message="tns:getDefaultFormat" />
      <wsdl:output name="getDefaultFormatResponse" message="tns:getDefaultFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <wsdl:input name="getKnownNamespace" message="tns:getKnownNamespace" />
      <wsdl:output name="getKnownNamespaceResponse" message="tns:getKnownNamespaceResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <wsdl:input name="getSupportedProfile" message="tns:getSupportedProfile" />
      <wsdl:output name="getSupportedProfileResponse" message="tns:getSupportedProfileResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <wsdl:input name="getServiceProvider" message="tns:getServiceProvider" />
      <wsdl:output name="getServiceProviderResponse" message="tns:getServiceProviderResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <wsdl:input name="getServiceName" message="tns:getServiceName" />
      <wsdl:output name="getServiceNameResponse" message="tns:getServiceNameResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <wsdl:input name="getServiceDescription" message="tns:getServiceDescription" />
      <wsdl:output name="getServiceDescriptionResponse"
      message="tns:getServiceDescriptionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <wsdl:input name="getImplementationType" message="tns:getImplementationType" />
      <wsdl:output name="getImplementationTypeResponse"
      message="tns:getImplementationTypeResponse" />
    </wsdl:operation>

    <!-- End BaseService -->
    <wsdl:operation name="validate">
      <wsdl:input name="validate" message="tns:validate" />
      <wsdl:output name="validateResponse" message="tns:validateResponse" />
    </wsdl:operation>

    <wsdl:operation name="getLog">
      <wsdl:input name="getLog" message="tns:getLog" />
      <wsdl:output name="getLogResponse" message="tns:getLogResponse" />
    </wsdl:operation>

    <wsdl:operation name="import">
      <wsdl:input name="import" message="tns:import" />
      <wsdl:output name="importResponse" message="tns:importResponse" />
    </wsdl:operation>

    <wsdl:operation name="clearLog">
      <wsdl:input name="clearLog" message="tns:clearLog" />
      <wsdl:output name="clearLogResponse" message="tns:clearLogResponse" />
    </wsdl:operation>

    <wsdl:operation name="getStatus">
      <wsdl:input name="getStatus" message="tns:getStatus" />
      <wsdl:output name="getStatusResponse" message="tns:getStatusResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedLanguageAndSyntax">
      <wsdl:input name="getSupportedLanguageAndSyntax"
      message="tns:getSupportedLanguageAndSyntax" />
      <wsdl:output name="getSupportedLanguageAndSyntaxResponse"
      message="tns:getSupportedLanguageAndSyntaxResponse" />
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="BaseImportServiceSoapBinding" type="tns:BaseImportServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">alist of the representation formats
      supported by the service. Example: text/html, text/xml, application/json</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the version or release identifier of
      the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceVersion">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the default format used by the
      service unless otherwise specified</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDefaultFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getDefaultFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of namespaces recognized by
      this service. Because many namespace identifiers tend to be cryptic (i.e. HL7 OIDs, BioPortal
      URL's, etc.), &lt;i&gt;knownNamespace&lt;/i&gt; includes the namespace name, an optional URI
      \emph{and} a place to provide textual detail describing what the namespace references. Note
      that namespace names must be unique across an entire CTS2 implementation - the same
      namespace name cannot represent one namespace in code system A and a second in code system B.
      Note also that namespace names are \emph{local} to a service instance. Information that is
      communicated between service instances, recorded in data tables or client software
      \emph{must} use full URIs.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownNamespace">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownNamespaceResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a reference to the individual or
      organization that provides the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceProvider">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceProviderResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of service profiles that are
      supported by this service implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedProfile">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a description of the service, its
      use, etc.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceDescription">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a short name that identifies the
      particular service and implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceName">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceNameResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the particular implementation type(s)
      supported by this profile</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getImplementationType">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getImplementationTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!-- EndBaseService -->
    <wsdl:operation name="validate">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Determine whether the source document
      would import successfully if it were importedDetermine whether the source document would
      import successfully if it were imported</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validate">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="validateResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnableToOpenDocument">
        <documentation>the process is unable to open the primary document to be
        imported</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnableToOpenDocument" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MetadataError">
        <documentation>An error was encountered in the metadata document. This error includes
        formatting errors, missing parameters and invalid content.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MetadataError" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnableToOpenMetadataDocument">
        <documentation>the service is unable to access the supplied metadata
        document</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnableToOpenMetadataDocument" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MetadataDocumentRequired">
        <documentation>Additional metadata must be supplied to perform this
        operation</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MetadataDocumentRequired" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="OntologyLanguageAndSyntaxException">
        <documentation>An exception in the &lt;i&gt;OntologyLanguageAndSyntax&lt;/i&gt;
        parameter.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
        name="OntologyLanguageAndSyntaxException" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologySyntax">
        <documentation>The supplied ontology syntax is not supported by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologySyntax" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologyLanguage">
        <documentation>The supplied ontology language is not supported by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologyLanguage" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="getLog">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve the log entries for the
      supplied process and logging level. If a process id isn't supplied, return all log entries
      and if a log level isn't supplied, return all level of entries</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getLog">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getLogResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="import">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Load structured content from a
      specified source and return a URI that references the "process" that performed or is
      performing the importLoad structured content from a specified source and return a URI that
      references the "process" that performed or is performing the import</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="import">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="importResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnableToOpenDocument">
        <documentation>the process is unable to open the primary document to be
        imported</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnableToOpenDocument" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="OntologyLanguageAndSyntaxException">
        <documentation>An exception in the &lt;i&gt;OntologyLanguageAndSyntax&lt;/i&gt;
        parameter.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
        name="OntologyLanguageAndSyntaxException" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologySyntax">
        <documentation>The supplied ontology syntax is not supported by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologySyntax" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedOntologyLanguage">
        <documentation>The supplied ontology language is not supported by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedOntologyLanguage" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MetadataError">
        <documentation>An error was encountered in the metadata document. This error includes
        formatting errors, missing parameters and invalid content.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MetadataError" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnableToOpenMetadataDocument">
        <documentation>the service is unable to access the supplied metadata
        document</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnableToOpenMetadataDocument" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MetadataDocumentRequired">
        <documentation>Additional metadata must be supplied to perform this
        operation</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MetadataDocumentRequired" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="clearLog">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Clear the log entries for the
      supplied process or, if none is supplied clear all log entries</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="clearLog">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="clearLogResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getStatus">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the import status for the
      supplied process identifierObtain a current status of the export process.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStatus">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownProcessId">
        <documentation>The &lt;i&gt;processId&lt;/i&gt; is not known to the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownProcessId" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="getSupportedLanguageAndSyntax">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <soap:operation soapAction="" />
      <wsdl:input name="getSupportedLanguageAndSyntax">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedLanguageAndSyntaxResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="BaseImportService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="BaseImportServicePort" binding="tns:BaseImportServiceSoapBinding">
      <soap:address location="http://localhost:9090/BaseImportServicePort" />
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
