wsdl/MapVersionQueryServiceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:coreService="http://www.omg.org/spec/CTS2/1.1/CoreService"
  xmlns:core="http://www.omg.org/spec/CTS2/1.1/Core"
  xmlns:map="http://www.omg.org/spec/CTS2/1.1/MapCatalog"
  xmlns:mapVersion="http://www.omg.org/spec/CTS2/1.1/MapVersion"
  xmlns:tns="http://www.omg.org/spec/CTS2/1.1/wsdl/MapVersionQueryServices"
  xmlns:mapVersionService="http://www.omg.org/spec/CTS2/1.1/MapVersionServices"
  attributeFormDefault="qualified"
  elementFormDefault="qualified"
  targetNamespace="http://www.omg.org/spec/CTS2/1.1/wsdl/MapVersionQueryServices">
  
  <xs:import namespace="http://www.omg.org/spec/CTS2/1.1/CoreService" schemaLocation="../core/CoreService.xsd"/>
  <xs:import namespace="http://www.omg.org/spec/CTS2/1.1/MapVersionServices" schemaLocation="../mapversion/MapVersionServices.xsd"/>
  <xs:import namespace="http://www.omg.org/spec/CTS2/1.1/Core" schemaLocation="../core/Core.xsd"/>
  <xs:import namespace="http://www.omg.org/spec/CTS2/1.1/MapCatalog" schemaLocation="../map/Map.xsd"/>
  <xs:import namespace="http://www.omg.org/spec/CTS2/1.1/MapVersion" schemaLocation="../mapversion/MapVersion.xsd"/>
  <xs:import namespace="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseServiceTypes" schemaLocation="BaseServiceTypes.xsd"/>
  <xs:import namespace="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseQueryServiceTypes" schemaLocation="BaseQueryServiceTypes.xsd"/>
  
  <xs:element name="getKnownValueSet" type="tns:getKnownValueSet"/>
  <xs:complexType name="getKnownValueSet"/>
  <xs:element name="getKnownValueSetResponse" type="tns:getKnownValueSetResponse"/>
  <xs:complexType name="getKnownValueSetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="core:ValueSetReference"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="getMapVersions" type="tns:getMapVersions"/>
  <xs:complexType name="getMapVersions"/>
  <xs:element name="getMapVersionsResponse" type="tns:getMapVersionsResponse"/>
  <xs:complexType name="getMapVersionsResponse">
    <xs:sequence>
      <xs:element name="return" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="getKnownValueSetDefinition" type="tns:getKnownValueSetDefinition"/>
  <xs:complexType name="getKnownValueSetDefinition"/>
  <xs:element name="getKnownValueSetDefinitionResponse" type="tns:getKnownValueSetDefinitionResponse"/>
  <xs:complexType name="getKnownValueSetDefinitionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="core:ValueSetDefinitionReference"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="getKnownCodeSystem" type="tns:getKnownCodeSystem"/>
  <xs:complexType name="getKnownCodeSystem"/>
  <xs:element name="getKnownCodeSystemResponse" type="tns:getKnownCodeSystemResponse"/>
  <xs:complexType name="getKnownCodeSystemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="core:CodeSystemReference"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="getKnownCodeSystemVersion" type="tns:getKnownCodeSystemVersion"/>
  <xs:complexType name="getKnownCodeSystemVersion"/>
  <xs:element name="getKnownCodeSystemVersionResponse" type="tns:getKnownCodeSystemVersionResponse"/>
  <xs:complexType name="getKnownCodeSystemVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="core:CodeSystemVersionReference"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="getSupportedTag" type="tns:getSupportedTag"/>
  <xs:complexType name="getSupportedTag"/>
  <xs:element name="getSupportedTagResponse" type="tns:getSupportedTagResponse"/>
  <xs:complexType name="getSupportedTagResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="core:VersionTagReference"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrictToCodeSystems" type="tns:restrictToCodeSystems"/>
  <xs:complexType name="restrictToCodeSystems">
    <xs:sequence>
      <xs:element minOccurs="1" name="directory" type="core:MapVersionDirectoryURI"/>
      <xs:element minOccurs="1" name="codeSystems" type="coreService:NameOrURIList"/>
      <xs:element minOccurs="1" name="mapRole" type="mapVersionService:MapRole"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrictToCodeSystemsResponse" type="tns:restrictToCodeSystemsResponse"/>
  <xs:complexType name="restrictToCodeSystemsResponse">
    <xs:sequence>
      <xs:element name="return" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrictToValueSets" type="tns:restrictToValueSets"/>
  <xs:complexType name="restrictToValueSets">
    <xs:sequence>
      <xs:element minOccurs="1" name="directory" type="core:MapVersionDirectoryURI"/>
      <xs:element minOccurs="1" name="valueSets" type="coreService:NameOrURIList"/>
      <xs:element minOccurs="1" name="mapRole" type="mapVersionService:MapRole"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrictToValueSetsResponse" type="tns:restrictToValueSetsResponse"/>
  <xs:complexType name="restrictToValueSetsResponse">
    <xs:sequence>
      <xs:element name="return" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrictToEntities" type="tns:restrictToEntities"/>
  <xs:complexType name="restrictToEntities">
    <xs:sequence>
      <xs:element minOccurs="1" name="directory" type="core:MapVersionDirectoryURI"/>
      <xs:element minOccurs="1" name="entities" type="coreService:EntityNameOrURIList"/>
      <xs:element minOccurs="1" name="mapStatus" type="mapVersionService:MapStatus"/>
      <xs:element minOccurs="1" name="restrictionType" type="coreService:RestrictionType"/>
      <xs:element minOccurs="1" name="mapRole" type="mapVersionService:MapRole"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrictToEntitiesResponse" type="tns:restrictToEntitiesResponse"/>
  <xs:complexType name="restrictToEntitiesResponse">
    <xs:sequence>
      <xs:element name="directory" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="mapVersionEntities" type="tns:mapVersionEntities"/>
  <xs:complexType name="mapVersionEntities">
    <xs:sequence>
      <xs:element minOccurs="1" name="mapRole" type="mapVersionService:MapRole"/>
      <xs:element minOccurs="1" name="mapStatus" type="mapVersionService:MapStatus"/>
      <xs:element minOccurs="1" name="context" type="mapVersionService:MapStatus"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="mapVersionEntitiesResponse" type="tns:mapVersionEntitiesResponse"/>
  <xs:complexType name="mapVersionEntitiesResponse">
    <xs:sequence>
      <xs:element name="return" type="core:EntityDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="mapVersionEntityReferences" type="tns:mapVersionEntityReferences"/>
  <xs:complexType name="mapVersionEntityReferences">
    <xs:sequence>
      <xs:element minOccurs="1" name="context" type="mapVersionService:MapStatus"/>
      <xs:element minOccurs="1" name="mapRole" type="mapVersionService:MapRole"/>
      <xs:element minOccurs="1" name="mapStatus" type="mapVersionService:MapStatus"/>
      <xs:element minOccurs="1" name="queryControl" type="coreService:QueryControl"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="mapVersionEntityReferencesResponse" type="tns:mapVersionEntityReferencesResponse"/>
  <xs:complexType name="mapVersionEntityReferencesResponse">
    <xs:sequence>
      <xs:element name="return" type="core:EntityReferenceList"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="resolve" type="tns:resolve"/>
  <xs:complexType name="resolve">
    <xs:sequence>
      <xs:element minOccurs="1" name="directory" type="core:MapVersionDirectoryURI"/>
      <xs:element minOccurs="0" name="queryControl" type="coreService:QueryControl"/>
      <xs:element minOccurs="0" name="context" type="coreService:ReadContext"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="resolveResponse" type="tns:resolveResponse"/>
  <xs:complexType name="resolveResponse">
    <xs:sequence>
      <xs:element ref="mapVersion:MapVersionDirectory"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="difference" type="tns:restrict"/>
  <xs:complexType name="difference">
    <xs:sequence>
      <xs:element name="initialSet" type="core:MapVersionDirectoryURI"/>
      <xs:element name="elementsToRemove" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="differenceResponse" type="tns:differenceResponse"/>
  <xs:complexType name="differenceResponse">
    <xs:sequence>
      <xs:element name="return" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="union" type="tns:union"/>
  <xs:complexType name="union">
    <xs:sequence>
      <xs:element name="directory1" type="core:MapVersionDirectoryURI"/>
      <xs:element name="directory2" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="unionResponse" type="tns:unionResponse"/>
  <xs:complexType name="unionResponse">
    <xs:sequence>
      <xs:element name="return" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="intersect" type="tns:intersect"/>
  <xs:complexType name="intersect">
    <xs:sequence>
      <xs:element name="directory1" type="core:MapVersionDirectoryURI"/>
      <xs:element name="directory2" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="intersectResponse" type="tns:intersectResponse"/>
  <xs:complexType name="intersectResponse">
    <xs:sequence>
      <xs:element name="return" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="count" type="tns:count"/>
  <xs:complexType name="count">
    <xs:sequence>
      <xs:element minOccurs="1" name="directory" type="core:MapVersionDirectoryURI"/>
      <xs:element minOccurs="0" name="context" type="coreService:ReadContext"/>
      <xs:element minOccurs="0" name="timeout" type="core:NaturalNumber"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="countResponse" type="tns:countResponse"/>
  <xs:complexType name="countResponse">
    <xs:sequence>
      <xs:element name="return" type="core:NaturalNumber"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrict" type="tns:restrict"/>
  <xs:complexType name="restrict">
    <xs:sequence>
      <xs:element minOccurs="1" name="directory" type="core:MapVersionDirectoryURI"/>
      <xs:element minOccurs="1" name="filter" type="core:Filter"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="restrictResponse" type="tns:restrictResponse"/>
  <xs:complexType name="restrictResponse">
    <xs:sequence>
      <xs:element name="return" type="core:MapVersionDirectoryURI"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="resolveAsList" type="tns:resolveAsList"/>
  <xs:complexType name="resolveAsList">
    <xs:sequence>
      <xs:element minOccurs="1" name="directory" type="core:MapVersionDirectoryURI"/>
      <xs:element minOccurs="0" name="queryControl" type="coreService:QueryControl"/>
      <xs:element minOccurs="0" name="context" type="coreService:ReadContext"/>
      <xs:element minOccurs="0" name="returnFilter" type="core:ComponentReferenceList"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="resolveAsListResponse" type="tns:resolveAsListResponse"/>
  <xs:complexType name="resolveAsListResponse">
    <xs:sequence>
      <xs:element ref="mapVersion:MapVersionList"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
