wsdl/MapVersionQueryService.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:mapVersionService="http://www.omg.org/spec/CTS2/1.1/MapVersionServices"
xmlns:baseServiceTypes="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseServiceTypes"
xmlns:baseQueryServiceTypes="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseQueryServiceTypes"
xmlns:tns="http://www.omg.org/spec/CTS2/1.1/wsdl/MapVersionQueryServices"
xmlns:baseQueryService="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseQueryServices"
xmlns:exceptions="http://www.omg.org/spec/CTS2/1.1/Exceptions"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
name="MapVersionQueryService"
targetNamespace="http://www.omg.org/spec/CTS2/1.1/wsdl/MapVersionQueryServices">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.1/wsdl/MapVersionQueryServices"
      schemaLocation="MapVersionQueryServiceTypes.xsd" />
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.1/Exceptions" schemaLocation="../core/Exceptions.xsd" />
    </xsd:schema>

  </wsdl:types>

  <wsdl:message name="restrictToValueSets">
    <wsdl:part name="parameters" element="tns:restrictToValueSets" />
  </wsdl:message>

  <wsdl:message name="restrictToValueSetsResponse">
    <wsdl:part name="parameters" element="tns:restrictToValueSetsResponse" />
  </wsdl:message>

  <wsdl:message name="restrictToEntities">
    <wsdl:part name="parameters" element="tns:restrictToEntities" />
  </wsdl:message>

  <wsdl:message name="restrictToEntitiesResponse">
    <wsdl:part name="parameters" element="tns:restrictToEntitiesResponse" />
  </wsdl:message>

  <wsdl:message name="mapVersionEntities">
    <wsdl:part name="parameters" element="tns:mapVersionEntities" />
  </wsdl:message>

  <wsdl:message name="mapVersionEntitiesResponse">
    <wsdl:part name="parameters" element="tns:mapVersionEntitiesResponse" />
  </wsdl:message>

  <wsdl:message name="mapVersionEntityReferences">
    <wsdl:part name="parameters" element="tns:mapVersionEntityReferences" />
  </wsdl:message>

  <wsdl:message name="mapVersionEntityReferencesResponse">
    <wsdl:part name="parameters" element="tns:mapVersionEntityReferencesResponse" />
  </wsdl:message>

  <wsdl:message name="restrict">
    <wsdl:part name="parameters" element="tns:restrict" />
  </wsdl:message>

  <wsdl:message name="restrictResponse">
    <wsdl:part name="parameters" element="tns:restrictResponse" />
  </wsdl:message>

  <wsdl:message name="resolveResponse">
    <wsdl:part name="parameters" element="tns:resolveResponse" />
  </wsdl:message>

  <wsdl:message name="resolve">
    <wsdl:part name="parameters" element="tns:resolve" />
  </wsdl:message>

  <wsdl:message name="resolveAsListResponse">
    <wsdl:part name="parameters" element="tns:resolveAsListResponse" />
  </wsdl:message>

  <wsdl:message name="countResponse">
    <wsdl:part name="parameters" element="tns:countResponse" />
  </wsdl:message>

  <wsdl:message name="restrictToCodeSystems">
    <wsdl:part name="parameters" element="tns:restrictToCodeSystems" />
  </wsdl:message>

  <wsdl:message name="resolveAsList">
    <wsdl:part name="parameters" element="tns:resolveAsList" />
  </wsdl:message>

  <wsdl:message name="count">
    <wsdl:part name="parameters" element="tns:count" />
  </wsdl:message>

  <wsdl:message name="restrictToCodeSystemsResponse">
    <wsdl:part name="parameters" element="tns:restrictToCodeSystemsResponse" />
  </wsdl:message>

  <!-- BaseService Messages -->
  <wsdl:message name="getServiceDescription">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescription" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProvider">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProvider" />
  </wsdl:message>

  <wsdl:message name="getServiceNameResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceNameResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProviderResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProviderResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceVersion">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersion" />
  </wsdl:message>

  <wsdl:message name="getServiceVersionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersionResponse" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationTypeResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationTypeResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfileResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfileResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescriptionResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationType">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationType" />
  </wsdl:message>

  <wsdl:message name="getServiceName">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceName" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormat" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespace">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespace" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespaceResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespaceResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormat" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfile">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfile" />
  </wsdl:message>

  <!-- End BaseService Messages -->
  <wsdl:message name="getKnownValueSet">
    <wsdl:part name="parameters" element="tns:getKnownValueSet" />
  </wsdl:message>

  <wsdl:message name="getKnownValueSetResponse">
    <wsdl:part name="parameters" element="tns:getKnownValueSetResponse" />
  </wsdl:message>

  <wsdl:message name="getKnownValueSetDefinition">
    <wsdl:part name="parameters" element="tns:getKnownValueSetDefinition" />
  </wsdl:message>

  <wsdl:message name="getKnownValueSetDefinitionResponse">
    <wsdl:part name="parameters" element="tns:getKnownValueSetDefinitionResponse" />
  </wsdl:message>

  <wsdl:message name="getMapVersions">
    <wsdl:part name="parameters" element="tns:getMapVersions" />
  </wsdl:message>

  <wsdl:message name="getMapVersionsResponse">
    <wsdl:part name="parameters" element="tns:getMapVersionsResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedTag">
    <wsdl:part name="parameters" element="tns:getSupportedTag" />
  </wsdl:message>

  <wsdl:message name="getSupportedTagResponse">
    <wsdl:part name="parameters" element="tns:getSupportedTagResponse" />
  </wsdl:message>

  <wsdl:message name="getKnownCodeSystem">
    <wsdl:part name="parameters" element="tns:getKnownCodeSystem" />
  </wsdl:message>

  <wsdl:message name="getKnownCodeSystemResponse">
    <wsdl:part name="parameters" element="tns:getKnownCodeSystemResponse" />
  </wsdl:message>

  <wsdl:message name="getKnownCodeSystemVersion">
    <wsdl:part name="parameters" element="tns:getKnownCodeSystemVersion" />
  </wsdl:message>

  <wsdl:message name="getKnownCodeSystemVersionResponse">
    <wsdl:part name="parameters" element="tns:getKnownCodeSystemVersionResponse" />
  </wsdl:message>

  <wsdl:message name="differenceResponse">
    <wsdl:part name="parameters" element="tns:differenceResponse" />
  </wsdl:message>

  <wsdl:message name="difference">
    <wsdl:part name="parameters" element="tns:difference" />
  </wsdl:message>

  <wsdl:message name="intersectResponse">
    <wsdl:part name="parameters" element="tns:intersectResponse" />
  </wsdl:message>

  <wsdl:message name="intersect">
    <wsdl:part name="parameters" element="tns:intersect" />
  </wsdl:message>

  <wsdl:message name="unionResponse">
    <wsdl:part name="parameters" element="tns:unionResponse" />
  </wsdl:message>

  <wsdl:message name="union">
    <wsdl:part name="parameters" element="tns:union" />
  </wsdl:message>

  <!-- BaseQueryService Messages -->
  <wsdl:message name="getSupportedMatchAlgorithmResponse">
    <wsdl:part name="parameters"
    element="baseQueryServiceTypes:getSupportedMatchAlgorithmResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedMatchAlgorithm">
    <wsdl:part name="parameters" element="baseQueryServiceTypes:getSupportedMatchAlgorithm" />
  </wsdl:message>

  <wsdl:message name="getSupportedModelAttributeResponse">
    <wsdl:part name="parameters"
    element="baseQueryServiceTypes:getSupportedModelAttributeResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedModelAttribute">
    <wsdl:part name="parameters" element="baseQueryServiceTypes:getSupportedModelAttribute" />
  </wsdl:message>

  <wsdl:message name="getKnownPropertyResponse">
    <wsdl:part name="parameters" element="baseQueryServiceTypes:getKnownPropertyResponse" />
  </wsdl:message>

  <wsdl:message name="getKnownProperty">
    <wsdl:part name="parameters" element="baseQueryServiceTypes:getKnownProperty" />
  </wsdl:message>

  <wsdl:message name="QueryTimeout">
    <wsdl:part name="fault" element="exceptions:QueryTimeout" />
  </wsdl:message>
  
  <wsdl:message name="EntityExpressionSyntaxError">
    <wsdl:part name="fault" element="exceptions:EntityExpressionSyntaxError" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedOntologySyntax">
    <wsdl:part name="fault" element="exceptions:UnsupportedOntologySyntax" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedOntologyLanguage">
    <wsdl:part name="fault" element="exceptions:UnsupportedOntologyLanguage" />
  </wsdl:message>
  
  <wsdl:message name="UnknownCodeSystemVersion">
    <wsdl:part name="fault" element="exceptions:UnknownCodeSystemVersion" />
  </wsdl:message>
  
  <wsdl:message name="InvalidDirectoryURI">
    <wsdl:part name="fault" element="exceptions:InvalidDirectoryURI" />
  </wsdl:message>
  
  <wsdl:message name="InvalidDirectoryType">
    <wsdl:part name="fault" element="exceptions:InvalidDirectoryType" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedMatchAlgorithm">
    <wsdl:part name="fault" element="exceptions:UnsupportedMatchAlgorithm" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedPredicate">
    <wsdl:part name="fault" element="exceptions:UnsupportedPredicate" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedNamespaceName">
    <wsdl:part name="fault" element="exceptions:UnsupportedNamespaceName" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedModelAttribute">
    <wsdl:part name="fault" element="exceptions:UnsupportedModelAttribute" />
  </wsdl:message>
  
  <wsdl:message name="MatchValueFormatException">
    <wsdl:part name="fault" element="exceptions:MatchValueFormatException" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedLanguage">
    <wsdl:part name="fault" element="exceptions:UnsupportedLanguage" />
  </wsdl:message>
  
  <wsdl:message name="UnknownChangeSet">
    <wsdl:part name="fault" element="exceptions:UnknownChangeSet" />
  </wsdl:message>
  
  <wsdl:message name="ChangeSetIsNotOpen">
    <wsdl:part name="fault" element="exceptions:ChangeSetIsNotOpen" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedContext">
    <wsdl:part name="fault" element="exceptions:UnsupportedContext" />
  </wsdl:message>
  
  <wsdl:message name="UnsupportedFormat">
    <wsdl:part name="fault" element="exceptions:UnsupportedFormat" />
  </wsdl:message>
  
  <wsdl:message name="UnknownCodeSystem">
    <wsdl:part name="fault" element="exceptions:UnknownCodeSystem" />
  </wsdl:message>
  
  <wsdl:message name="UnknownValueSet">
    <wsdl:part name="fault" element="exceptions:UnknownValueSet" />
  </wsdl:message>
  
  <wsdl:message name="UnknownEntity">
    <wsdl:part name="fault" element="exceptions:UnknownEntity" />
  </wsdl:message>

  <!-- End BaseQueryService Messages -->
  <wsdl:portType name="MapVersionQueryServicePortType">
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <wsdl:input name="getSupportedFormat" message="tns:getSupportedFormat" />
      <wsdl:output name="getSupportedFormatResponse" message="tns:getSupportedFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <wsdl:input name="getServiceVersion" message="tns:getServiceVersion" />
      <wsdl:output name="getServiceVersionResponse" message="tns:getServiceVersionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <wsdl:input name="getDefaultFormat" message="tns:getDefaultFormat" />
      <wsdl:output name="getDefaultFormatResponse" message="tns:getDefaultFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <wsdl:input name="getKnownNamespace" message="tns:getKnownNamespace" />
      <wsdl:output name="getKnownNamespaceResponse" message="tns:getKnownNamespaceResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <wsdl:input name="getSupportedProfile" message="tns:getSupportedProfile" />
      <wsdl:output name="getSupportedProfileResponse" message="tns:getSupportedProfileResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <wsdl:input name="getServiceProvider" message="tns:getServiceProvider" />
      <wsdl:output name="getServiceProviderResponse" message="tns:getServiceProviderResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <wsdl:input name="getServiceName" message="tns:getServiceName" />
      <wsdl:output name="getServiceNameResponse" message="tns:getServiceNameResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <wsdl:input name="getServiceDescription" message="tns:getServiceDescription" />
      <wsdl:output name="getServiceDescriptionResponse"
      message="tns:getServiceDescriptionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <wsdl:input name="getImplementationType" message="tns:getImplementationType" />
      <wsdl:output name="getImplementationTypeResponse"
      message="tns:getImplementationTypeResponse" />
    </wsdl:operation>

    <!-- End BaseService -->
    <!-- BaseQueryService -->
    <wsdl:operation name="getSupportedMatchAlgorithm">
      <wsdl:input name="getSupportedMatchAlgorithm" message="tns:getSupportedMatchAlgorithm" />
      <wsdl:output name="getSupportedMatchAlgorithmResponse"
      message="tns:getSupportedMatchAlgorithmResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedModelAttribute">
      <wsdl:input name="getSupportedModelAttribute" message="tns:getSupportedModelAttribute" />
      <wsdl:output name="getSupportedModelAttributeResponse"
      message="tns:getSupportedModelAttributeResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownProperty">
      <wsdl:input name="getKnownProperty" message="tns:getKnownProperty" />
      <wsdl:output name="getKnownPropertyResponse" message="tns:getKnownPropertyResponse" />
    </wsdl:operation>

    <!-- End BaseQueryService -->
    <wsdl:operation name="restrict">
      <wsdl:input name="restrict" message="tns:restrict" />
      <wsdl:output name="restrictResponse" message="tns:restrictResponse" />
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI"/>
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType"/>
      <wsdl:fault name="UnsupportedMatchAlgorithm" message="tns:UnsupportedMatchAlgorithm"/>
      <wsdl:fault name="UnsupportedPredicate" message="tns:UnsupportedPredicate"/>
      <wsdl:fault name="UnsupportedNamespaceName" message="tns:UnsupportedNamespaceName"/>
      <wsdl:fault name="UnsupportedModelAttribute" message="tns:UnsupportedModelAttribute"/>
      <wsdl:fault name="MatchValueFormatException" message="tns:MatchValueFormatException"/>
    </wsdl:operation>
    
    <wsdl:operation name="count">
      <wsdl:input name="count" message="tns:count" />
      <wsdl:output name="countResponse" message="tns:countResponse" />
      <wsdl:fault name="QueryTimeout" message="tns:QueryTimeout" />
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI" />
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType" />
    </wsdl:operation>
    
    <wsdl:operation name="union">
      <wsdl:input name="union" message="tns:union" />
      <wsdl:output name="unionResponse" message="tns:unionResponse" />
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI" />
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType" />
    </wsdl:operation>
    
    <wsdl:operation name="intersect">
      <wsdl:input name="intersect" message="tns:intersect" />
      <wsdl:output name="intersectResponse" message="tns:intersectResponse" />
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI" />
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType" />
    </wsdl:operation>
    
    <wsdl:operation name="difference">
      <wsdl:input name="difference" message="tns:difference" />
      <wsdl:output name="differenceResponse" message="tns:differenceResponse" />
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI" />
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType" />
    </wsdl:operation>
    
    <wsdl:operation name="resolve">
      <wsdl:input name="resolve" message="tns:resolve" />
      <wsdl:output name="resolveResponse" message="tns:resolveResponse" />
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI"/>
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType"/>
      <wsdl:fault name="UnsupportedLanguage" message="tns:UnsupportedLanguage"/>
      <wsdl:fault name="UnknownChangeSet" message="tns:UnknownChangeSet"/>
      <wsdl:fault name="ChangeSetIsNotOpen" message="tns:ChangeSetIsNotOpen"/>
      <wsdl:fault name="UnsupportedContext" message="tns:UnsupportedContext"/>
      <wsdl:fault name="UnsupportedMatchAlgorithm" message="tns:UnsupportedMatchAlgorithm"/>
      <wsdl:fault name="UnsupportedPredicate" message="tns:UnsupportedPredicate"/>
      <wsdl:fault name="UnsupportedNamespaceName" message="tns:UnsupportedNamespaceName"/>
      <wsdl:fault name="UnsupportedModelAttribute" message="tns:UnsupportedModelAttribute"/>
      <wsdl:fault name="MatchValueFormatException" message="tns:MatchValueFormatException"/>
      <wsdl:fault name="UnsupportedFormat" message="tns:UnsupportedFormat"/>
      <wsdl:fault name="QueryTimeout" message="tns:QueryTimeout"/>
    </wsdl:operation>
    
    <wsdl:operation name="resolveAsList">
      <wsdl:input name="resolveAsList" message="tns:resolveAsList" />
      <wsdl:output name="resolveAsListResponse" message="tns:resolveAsListResponse" />
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI"/>
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType"/>
      <wsdl:fault name="UnsupportedLanguage" message="tns:UnsupportedLanguage"/>
      <wsdl:fault name="UnknownChangeSet" message="tns:UnknownChangeSet"/>
      <wsdl:fault name="ChangeSetIsNotOpen" message="tns:ChangeSetIsNotOpen"/>
      <wsdl:fault name="UnsupportedContext" message="tns:UnsupportedContext"/>
      <wsdl:fault name="UnsupportedMatchAlgorithm" message="tns:UnsupportedMatchAlgorithm"/>
      <wsdl:fault name="UnsupportedPredicate" message="tns:UnsupportedPredicate"/>
      <wsdl:fault name="UnsupportedNamespaceName" message="tns:UnsupportedNamespaceName"/>
      <wsdl:fault name="UnsupportedModelAttribute" message="tns:UnsupportedModelAttribute"/>
      <wsdl:fault name="MatchValueFormatException" message="tns:MatchValueFormatException"/>
      <wsdl:fault name="UnsupportedFormat" message="tns:UnsupportedFormat"/>
      <wsdl:fault name="QueryTimeout" message="tns:QueryTimeout"/>
    </wsdl:operation>
    
    <wsdl:operation name="restrictToCodeSystems">
      <wsdl:input name="restrictToCodeSystems" message="tns:restrictToCodeSystems" />
      <wsdl:output name="restrictToCodeSystemsResponse" message="tns:restrictToCodeSystemsResponse" />
      <wsdl:fault name="UnknownCodeSystem" message="tns:UnknownCodeSystem"/>
      <wsdl:fault name="UnsupportedNamespaceName" message="tns:UnsupportedNamespaceName"/>
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI"/>
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType"/>
    </wsdl:operation>

    <wsdl:operation name="restrictToValueSets">
      <wsdl:input name="restrictToValueSets" message="tns:restrictToValueSets" />
      <wsdl:output name="restrictToValueSetsResponse" message="tns:restrictToValueSetsResponse" />
      <wsdl:fault name="UnknownValueSet" message="tns:UnknownValueSet"/>
      <wsdl:fault name="UnsupportedNamespaceName" message="tns:UnsupportedNamespaceName"/>
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI"/>
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType"/>
    </wsdl:operation>

    <wsdl:operation name="restrictToEntities">
      <wsdl:input name="restrictToEntities" message="tns:restrictToEntities" />
      <wsdl:output name="restrictToEntitiesResponse" message="tns:restrictToEntitiesResponse" />
      <wsdl:fault name="UnknownEntity" message="tns:UnknownEntity"/>
      <wsdl:fault name="UnsupportedNamespaceName" message="tns:UnsupportedNamespaceName"/>
      <wsdl:fault name="InvalidDirectoryURI" message="tns:InvalidDirectoryURI"/>
      <wsdl:fault name="InvalidDirectoryType" message="tns:InvalidDirectoryType"/>
    </wsdl:operation>

    <wsdl:operation name="mapVersionEntities">
      <wsdl:input name="mapVersionEntities" message="tns:mapVersionEntities" />
      <wsdl:output name="mapVersionEntitiesResponse" message="tns:mapVersionEntitiesResponse" />
      <wsdl:fault name="UnsupportedLanguage" message="tns:UnsupportedLanguage"/>
      <wsdl:fault name="UnknownChangeSet" message="tns:UnknownChangeSet"/>
      <wsdl:fault name="ChangeSetIsNotOpen" message="tns:ChangeSetIsNotOpen"/>
      <wsdl:fault name="UnsupportedContext" message="tns:UnsupportedContext"/>
      
    </wsdl:operation>

    <wsdl:operation name="mapVersionEntityReferences">
      <wsdl:input name="mapVersionEntityReferences" message="tns:mapVersionEntityReferences" />
      <wsdl:output name="mapVersionEntityReferencesResponse" message="tns:mapVersionEntityReferencesResponse" />
      <wsdl:fault name="UnsupportedLanguage" message="tns:UnsupportedLanguage"/>
      <wsdl:fault name="UnknownChangeSet" message="tns:UnknownChangeSet"/>
      <wsdl:fault name="ChangeSetIsNotOpen" message="tns:ChangeSetIsNotOpen"/>
      <wsdl:fault name="UnsupportedContext" message="tns:UnsupportedContext"/>
      <wsdl:fault name="UnsupportedMatchAlgorithm" message="tns:UnsupportedMatchAlgorithm"/>
      <wsdl:fault name="UnsupportedPredicate" message="tns:UnsupportedPredicate"/>
      <wsdl:fault name="UnsupportedNamespaceName" message="tns:UnsupportedNamespaceName"/>
      <wsdl:fault name="UnsupportedModelAttribute" message="tns:UnsupportedModelAttribute"/>
      <wsdl:fault name="MatchValueFormatException" message="tns:MatchValueFormatException"/>
      <wsdl:fault name="UnsupportedFormat" message="tns:UnsupportedFormat"/>
      <wsdl:fault name="QueryTimeout" message="tns:QueryTimeout"/>
    </wsdl:operation>

    <wsdl:operation name="getKnownCodeSystem">
      <wsdl:input name="getKnownCodeSystem" message="tns:getKnownCodeSystem" />
      <wsdl:output name="getKnownCodeSystemResponse" message="tns:getKnownCodeSystemResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownCodeSystemVersion">
      <wsdl:input name="getKnownCodeSystemVersion" message="tns:getKnownCodeSystemVersion" />
      <wsdl:output name="getKnownCodeSystemVersionResponse"
      message="tns:getKnownCodeSystemVersionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownValueSet">
      <wsdl:input name="getKnownValueSet" message="tns:getKnownValueSet" />
      <wsdl:output name="getKnownValueSetResponse" message="tns:getKnownValueSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownValueSetDefinition">
      <wsdl:input name="getKnownValueSetDefinition" message="tns:getKnownValueSetDefinition" />
      <wsdl:output name="getKnownValueSetDefinitionResponse"
      message="tns:getKnownValueSetDefinitionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getMapVersions">
      <wsdl:input name="getMapVersions" message="tns:getMapVersions" />
      <wsdl:output name="getMapVersionsResponse" message="tns:getMapVersionsResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedTag">
      <wsdl:input name="getSupportedTag" message="tns:getSupportedTag" />
      <wsdl:output name="getSupportedTagResponse" message="tns:getSupportedTagResponse" />
    </wsdl:operation>

    

  </wsdl:portType>

  <wsdl:binding name="MapVersionQueryServiceSoapBinding" type="tns:MapVersionQueryServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">alist of the representation formats
      supported by the service. Example: text/html, text/xml, application/json</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the version or release identifier of
      the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceVersion">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the default format used by the
      service unless otherwise specified</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDefaultFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getDefaultFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of namespaces recognized by
      this service. Because many namespace identifiers tend to be cryptic (i.e. HL7 OIDs, BioPortal
      URL's, etc.), &lt;i&gt;knownNamespace&lt;/i&gt; includes the namespace name, an optional URI
      \emph{and} a place to provide textual detail describing what the namespace references. Note
      that namespace names must be unique across an entire CTS2 implementation - the same
      namespace name cannot represent one namespace in code system A and a second in code system B.
      Note also that namespace names are \emph{local} to a service instance. Information that is
      communicated between service instances, recorded in data tables or client software
      \emph{must} use full URIs.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownNamespace">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownNamespaceResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a reference to the individual or
      organization that provides the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceProvider">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceProviderResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of service profiles that are
      supported by this service implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedProfile">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a description of the service, its
      use, etc.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceDescription">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a short name that identifies the
      particular service and implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceName">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceNameResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the particular implementation type(s)
      supported by this profile</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getImplementationType">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getImplementationTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!-- EndBaseService -->
    <!-- BaseQueryService -->
    <wsdl:operation name="getSupportedMatchAlgorithm">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the match algorithms that can be used
      in filters for this service instance</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedMatchAlgorithm">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedMatchAlgorithmResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedModelAttribute">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of model attributes that can
      be referenced in filter instances for the given service implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedModelAttribute">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedModelAttributeResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownProperty">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">The set of properties that are used
      in one or more instances of the resource represented by this service. This list includes all
      properties that can be used in queries in this service, independent of the
      &lt;i&gt;entryState &lt;/i&gt;or temporal state of the resource(s) being
      searched.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownProperty">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownPropertyResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!-- EndBaseQueryService -->
    <wsdl:operation name="resolve">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a directory that summarizes
        the resolution of the supplied association directory URI.Retrieve a change set as an iterable
        resource - a handy function for viewing large change sets</documentation>
      
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="resolve">
        <soap:body use="literal" />
      </wsdl:input>
      
      <wsdl:output name="resolveResponse">
        <soap:body use="literal" />
      </wsdl:output>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedLanguage">
        <wsdl:documentation>The &lt;i&gt;referenceLanguage&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedLanguage" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <wsdl:documentation>The change set specified could either not be read or located by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <wsdl:documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
          its state is not &lt;i&gt;OPEN&lt;/i&gt;.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedContext">
        <wsdl:documentation>One or more &lt;i&gt;changeSetContext&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedContext" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedMatchAlgorithm">
        <wsdl:documentation>The &lt;i&gt;matchAlgorithm&lt;/i&gt; is not supported by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedMatchAlgorithm" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPredicate">
        <wsdl:documentation>The predicate name or URI is not recognized by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedPredicate" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <wsdl:documentation>The supplied namespace name is not one that is known to the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedModelAttribute">
        <wsdl:documentation>The name or URI of a CTS2 model attribute is not recognized and/or supported by the
          service implementation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedModelAttribute" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MatchValueFormatException">
        <wsdl:documentation>The match value does not meet the format or syntax required or the supplied match
          algorithm.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MatchValueFormatException" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedFormat">
        <wsdl:documentation>The &lt;i&gt;format&lt;/i&gt; is not supported by the service
          implementation</wsdl:documentation>
        
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedFormat" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="QueryTimeout">
        <wsdl:documentation>The &lt;i&gt;timeLimit&lt;/i&gt; was exceeded by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryTimeout" />
      </wsdl:fault>
      
    </wsdl:operation>
    
    <wsdl:operation name="resolveAsList">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the set of associations that
        are referenced by the supplied directory URI.Resolve a &lt;i&gt;DirectoryURI &lt;/i&gt; that
        references a set of code system catalog entries and return the set of corresponding catalog
        entries</documentation>
      
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="resolveAsList">
        <soap:body use="literal" />
      </wsdl:input>
      
      <wsdl:output name="resolveAsListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedLanguage">
        <wsdl:documentation>The &lt;i&gt;referenceLanguage&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedLanguage" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <wsdl:documentation>The change set specified could either not be read or located by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <wsdl:documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
          its state is not &lt;i&gt;OPEN&lt;/i&gt;.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedContext">
        <wsdl:documentation>One or more &lt;i&gt;changeSetContext&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedContext" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedMatchAlgorithm">
        <wsdl:documentation>The &lt;i&gt;matchAlgorithm&lt;/i&gt; is not supported by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedMatchAlgorithm" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPredicate">
        <wsdl:documentation>The predicate name or URI is not recognized by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedPredicate" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <wsdl:documentation>The supplied namespace name is not one that is known to the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedModelAttribute">
        <wsdl:documentation>The name or URI of a CTS2 model attribute is not recognized and/or supported by the
          service implementation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedModelAttribute" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MatchValueFormatException">
        <wsdl:documentation>The match value does not meet the format or syntax required or the supplied match
          algorithm.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MatchValueFormatException" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedFormat">
        <wsdl:documentation>The &lt;i&gt;format&lt;/i&gt; is not supported by the service
          implementation</wsdl:documentation>
        
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedFormat" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="QueryTimeout">
        <wsdl:documentation>The &lt;i&gt;timeLimit&lt;/i&gt; was exceeded by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryTimeout" />
      </wsdl:fault>
      
    </wsdl:operation>
    
    <wsdl:operation name="restrict">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a
        &lt;i&gt;DirectoryURI&lt;/i&gt; that references the set of all elements represented by
        &lt;i&gt;directory&lt;/i&gt; that match the criteria specified in
        &lt;i&gt;filter.&lt;/i&gt;</documentation>
      
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="restrict">
        <soap:body use="literal" />
      </wsdl:input>
      
      <wsdl:output name="restrictResponse">
        <soap:body use="literal" />
      </wsdl:output>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedMatchAlgorithm">
        <wsdl:documentation>The &lt;i&gt;matchAlgorithm&lt;/i&gt; is not supported by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedMatchAlgorithm" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPredicate">
        <wsdl:documentation>The predicate name or URI is not recognized by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedPredicate" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <wsdl:documentation>The supplied namespace name is not one that is known to the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedModelAttribute">
        <wsdl:documentation>The name or URI of a CTS2 model attribute is not recognized and/or supported by the
          service implementation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedModelAttribute" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MatchValueFormatException">
        <wsdl:documentation>The match value does not meet the format or syntax required or the supplied match
          algorithm.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MatchValueFormatException" />
      </wsdl:fault>
      
    </wsdl:operation>

    <wsdl:operation name="count">
      <wsdl:documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the number of elements
        currently represented by the supplied directory URI.</wsdl:documentation>
      
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="count">
        <soap:body use="literal" />
      </wsdl:input>
      
      <wsdl:output name="countResponse">
        <soap:body use="literal" />
      </wsdl:output>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="QueryTimeout">
        <wsdl:documentation>The &lt;i&gt;timeLimit&lt;/i&gt; was exceeded by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryTimeout" />
      </wsdl:fault>
      
    </wsdl:operation>
    
    <wsdl:operation name="intersect">
      <wsdl:documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a directory that represents
        the set of elements that are common to the two supplied directories. Note that both
        DirectoryURIs must represent resources of the same type.</wsdl:documentation>
      
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="intersect">
        <soap:body use="literal" />
      </wsdl:input>
      
      <wsdl:output name="intersectResponse">
        <soap:body use="literal" />
      </wsdl:output>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
    </wsdl:operation>
    
    <wsdl:operation name="union">
      <wsdl:documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a directory that represents
        the combination of the contents of the supplied two supplied directories, with duplicate
        entries removed. Note that both of the directory URIs must resolve to entries of the same
        type.</wsdl:documentation>
      
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="union">
        <soap:body use="literal" />
      </wsdl:input>
      
      <wsdl:output name="unionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
    </wsdl:operation>
    
    <wsdl:operation name="difference">
      <wsdl:documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Remove any of the elements in
        &lt;i&gt;elementsToRemove&lt;/i&gt; from &lt;i&gt;initialSet &lt;/i&gt;if present. Elements
        in &lt;i&gt;elementsToRemove&lt;/i&gt; that are not in &lt;i&gt;initialSet&lt;/i&gt; are
        ignored.</wsdl:documentation>
      
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="difference">
        <soap:body use="literal" />
      </wsdl:input>
      
      <wsdl:output name="differenceResponse">
        <soap:body use="literal" />
      </wsdl:output>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
    </wsdl:operation>
    
    <wsdl:operation name="getKnownCodeSystem">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the name and URI of a code system
      that is known to this service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownCodeSystem">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownCodeSystemResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownCodeSystemVersion">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the name and URI of the code system
      version that are recognized by this service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownCodeSystemVersion">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownCodeSystemVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownValueSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the name and URI of a value set that
      is known to the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownValueSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownValueSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownValueSetDefinition">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the name and URI of a value set
      definition known to the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownValueSetDefinition">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownValueSetDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getMapVersions">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a &lt;i&gt;DirectoryURI&lt;/i&gt;
      that resolves to all of the map versions known to the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMapVersions">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getMapVersionsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedTag">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">The set of version tags known to the
      service. All services must recognize the "CURRENT" tag, although interpretation is service
      specific.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedTag">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedTagResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="restrictToEntities">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a
      &lt;i&gt;DirectoryURI&lt;/i&gt; that references the subset of the
      &lt;i&gt;MapVersions&lt;/i&gt; referenced in &lt;i&gt;directory&lt;/i&gt; that reference at
      least one (&lt;i&gt;restrictionType&lt;/i&gt; = &lt;i&gt;AT_LEAST_ONE&lt;/i&gt;) or all
      (&lt;i&gt;restrictionType&lt;/i&gt; = &lt;i&gt;ALL&lt;/i&gt;) or the named entities.Retrieve
      a code system version directory containing the specified entities.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="restrictToEntities">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="restrictToEntitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownEntity">
        <wsdl:documentation>The &lt;i&gt;EntityNameOrURI&lt;/i&gt; is not known to the
        service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownEntity" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <wsdl:documentation>The supplied namespace name is not one that is known to the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </wsdl:fault>

    </wsdl:operation>
 
    <wsdl:operation name="restrictToValueSets">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a
      &lt;i&gt;DirectoryURI&lt;/i&gt; that references the subset of the
      &lt;i&gt;MapVersions&lt;/i&gt; referenced in &lt;i&gt;directory&lt;/i&gt; that directly \\
      (&lt;i&gt;fromValueSetDefinition&lt;/i&gt;, &lt;i&gt;toValueSetDefinition&lt;/i&gt;) or
      indirectly via value set containment reference entities that are described in the supplied
      list of value sets.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="restrictToValueSets">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="restrictToValueSetsResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <wsdl:documentation>The value set name or URI is not recognized by the service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <wsdl:documentation>The supplied namespace name is not one that is known to the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </wsdl:fault>

    </wsdl:operation>

    <wsdl:operation name="restrictToCodeSystems">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a
      &lt;i&gt;DirectoryURI&lt;/i&gt; that references the subset of the
      &lt;i&gt;MapVersions&lt;/i&gt; referenced in &lt;i&gt;directory&lt;/i&gt; that directly \\
      (&lt;i&gt;fromCodeSystemVersion&lt;/i&gt;, &lt;i&gt;toCodeSystemVersion&lt;/i&gt;) or
      indirectly (&lt;i&gt;fromValueSet&lt;/i&gt;, &lt;i&gt;toValueSet&lt;/i&gt;) reference
      entities that are described in the supplied list of code systems.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="restrictToCodeSystems">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="restrictToCodeSystemsResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystem">
        <wsdl:documentation>The referenced &lt;i&gt;CodeSystem&lt;/i&gt; is not recognized by the
        service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystem" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryURI">
        <wsdl:documentation>The supplied &lt;i&gt;directory&lt;/i&gt; URI is not valid</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryURI" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidDirectoryType">
        <wsdl:documentation>The type represented by the supplied &lt;i&gt;directory&lt;/i&gt; URI is not
          the one required by the service invocation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidDirectoryType" />
      </wsdl:fault>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <wsdl:documentation>The supplied namespace name is not one that is known to the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </wsdl:fault>

    </wsdl:operation>

    <wsdl:operation name="mapVersionEntities">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a
      &lt;i&gt;DirectoryURI&lt;/i&gt; that resolves to the set of entities that meet the supplied
      criteria.Return a &lt;i&gt;DirectoryURI&lt;/i&gt; that resolves to the set of entities that
      meet the supplied criteria.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="mapVersionEntities">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="mapVersionEntitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedLanguage">
        <wsdl:documentation>The &lt;i&gt;referenceLanguage&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedLanguage" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <wsdl:documentation>The change set specified could either not be read or located by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <wsdl:documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
          its state is not &lt;i&gt;OPEN&lt;/i&gt;.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedContext">
        <wsdl:documentation>One or more &lt;i&gt;changeSetContext&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedContext" />
      </wsdl:fault>

    </wsdl:operation>

    <wsdl:operation name="mapVersionEntityReferences">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a list of entity references
      that meet the supplied criteria.Return a list of entity references that meet the supplied
      criteria.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="mapVersionEntityReferences">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="mapVersionEntityReferencesResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedLanguage">
        <wsdl:documentation>The &lt;i&gt;referenceLanguage&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedLanguage" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <wsdl:documentation>The change set specified could either not be read or located by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <wsdl:documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
          its state is not &lt;i&gt;OPEN&lt;/i&gt;.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedContext">
        <wsdl:documentation>One or more &lt;i&gt;changeSetContext&lt;/i&gt; is not supported by the
          service</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedContext" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedMatchAlgorithm">
        <wsdl:documentation>The &lt;i&gt;matchAlgorithm&lt;/i&gt; is not supported by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedMatchAlgorithm" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPredicate">
        <wsdl:documentation>The predicate name or URI is not recognized by the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedPredicate" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <wsdl:documentation>The supplied namespace name is not one that is known to the service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedModelAttribute">
        <wsdl:documentation>The name or URI of a CTS2 model attribute is not recognized and/or supported by the
          service implementation.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedModelAttribute" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MatchValueFormatException">
        <wsdl:documentation>The match value does not meet the format or syntax required or the supplied match
          algorithm.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MatchValueFormatException" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedFormat">
        <wsdl:documentation>The &lt;i&gt;format&lt;/i&gt; is not supported by the service
          implementation</wsdl:documentation>
        
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedFormat" />
      </wsdl:fault>
      
      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="QueryTimeout">
        <wsdl:documentation>The &lt;i&gt;timeLimit&lt;/i&gt; was exceeded by the
          service.</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryTimeout" />
      </wsdl:fault>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="MapVersionQueryService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="MapVersionQueryServicePort" binding="tns:MapVersionQueryServiceSoapBinding">
      <soap:address location="http://localhost:9090/MapVersionQueryServicePort" />
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
