wsdl/UpdateService.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:baseServiceTypes="http://www.omg.org/spec/CTS2/1.3/wsdl/BaseServiceTypes"
xmlns:tns="http://www.omg.org/spec/CTS2/1.3/wsdl/UpdateServices"
xmlns:baseServices="http://www.omg.org/spec/CTS2/1.3/wsdl/BaseServices"
xmlns:exceptions="http://www.omg.org/spec/CTS2/1.3/Exceptions"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
name="UpdateService" targetNamespace="http://www.omg.org/spec/CTS2/1.3/wsdl/UpdateServices">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.3/wsdl/UpdateServices"
      schemaLocation="UpdateServiceTypes.xsd" />
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.3/Exceptions" schemaLocation="../core/Exceptions.xsd" />
    </xsd:schema>

  </wsdl:types>

  <!-- BaseService Messages -->
  <wsdl:message name="getServiceDescription">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescription" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProvider">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProvider" />
  </wsdl:message>

  <wsdl:message name="getServiceNameResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceNameResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProviderResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProviderResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceVersion">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersion" />
  </wsdl:message>

  <wsdl:message name="getServiceVersionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersionResponse" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationTypeResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationTypeResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfileResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfileResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescriptionResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationType">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationType" />
  </wsdl:message>

  <wsdl:message name="getServiceName">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceName" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormat" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespace">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespace" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespaceResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespaceResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormat" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfile">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfile" />
  </wsdl:message>

  <!-- End BaseService Messages -->
  <wsdl:message name="putChangeSet">
    <wsdl:part name="parameters" element="tns:putChangeSet" />
  </wsdl:message>

  <wsdl:message name="listChangesResponse">
    <wsdl:part name="parameters" element="tns:listChangesResponse" />
  </wsdl:message>

  <wsdl:message name="listChanges">
    <wsdl:part name="parameters" element="tns:listChanges" />
  </wsdl:message>

  <wsdl:message name="putChangeSetResponse">
    <wsdl:part name="parameters" element="tns:putChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="validateChangeSet">
    <wsdl:part name="parameters" element="tns:validateChangeSet" />
  </wsdl:message>

  <wsdl:message name="validateChangeSetResponse">
    <wsdl:part name="parameters" element="tns:validateChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedStructuresResponse">
    <wsdl:part name="parameters" element="tns:getSupportedStructuresResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedStructures">
    <wsdl:part name="parameters" element="tns:getSupportedStructures" />
  </wsdl:message>
  
  <wsdl:message name="UnableToOpenDocument">
    <wsdl:part name="parameters" element="exceptions:UnableToOpenDocument" />
  </wsdl:message>

  <wsdl:portType name="UpdateServicePortType">
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <wsdl:input name="getSupportedFormat" message="tns:getSupportedFormat" />
      <wsdl:output name="getSupportedFormatResponse" message="tns:getSupportedFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <wsdl:input name="getServiceVersion" message="tns:getServiceVersion" />
      <wsdl:output name="getServiceVersionResponse" message="tns:getServiceVersionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <wsdl:input name="getDefaultFormat" message="tns:getDefaultFormat" />
      <wsdl:output name="getDefaultFormatResponse" message="tns:getDefaultFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <wsdl:input name="getKnownNamespace" message="tns:getKnownNamespace" />
      <wsdl:output name="getKnownNamespaceResponse" message="tns:getKnownNamespaceResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <wsdl:input name="getSupportedProfile" message="tns:getSupportedProfile" />
      <wsdl:output name="getSupportedProfileResponse" message="tns:getSupportedProfileResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <wsdl:input name="getServiceProvider" message="tns:getServiceProvider" />
      <wsdl:output name="getServiceProviderResponse" message="tns:getServiceProviderResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <wsdl:input name="getServiceName" message="tns:getServiceName" />
      <wsdl:output name="getServiceNameResponse" message="tns:getServiceNameResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <wsdl:input name="getServiceDescription" message="tns:getServiceDescription" />
      <wsdl:output name="getServiceDescriptionResponse"
      message="tns:getServiceDescriptionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <wsdl:input name="getImplementationType" message="tns:getImplementationType" />
      <wsdl:output name="getImplementationTypeResponse"
      message="tns:getImplementationTypeResponse" />
    </wsdl:operation>

    <!-- End BaseService -->
    <wsdl:operation name="listChanges">
      <wsdl:input name="listChanges" message="tns:listChanges" />
      <wsdl:output name="listChangesResponse" message="tns:listChangesResponse" />
    </wsdl:operation>

    <wsdl:operation name="putChangeSet">
      <wsdl:input name="putChangeSet" message="tns:putChangeSet" />
      <wsdl:output name="putChangeSetResponse" message="tns:putChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="validateChangeSet">
      <wsdl:input name="validateChangeSet" message="tns:validateChangeSet" />
      <wsdl:output name="validateChangeSetResponse" message="tns:validateChangeSetResponse" />
      <wsdl:fault name="UnableToOpenDocument" message="tns:UnableToOpenDocument" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedStructures">
      <wsdl:input name="getSupportedStructures" message="tns:getSupportedStructures" />
      <wsdl:output name="getSupportedStructuresResponse"
      message="tns:getSupportedStructuresResponse" />
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="UpdateServiceSoapBinding" type="tns:UpdateServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">alist of the representation formats
      supported by the service. Example: text/html, text/xml, application/json</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the version or release identifier of
      the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceVersion">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the default format used by the
      service unless otherwise specified</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDefaultFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getDefaultFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of namespaces recognized by
      this service. Because many namespace identifiers tend to be cryptic (i.e. HL7 OIDs, BioPortal
      URL's, etc.), &lt;i&gt;knownNamespace&lt;/i&gt; includes the namespace name, an optional URI
      \emph{and} a place to provide textual detail describing what the namespace references. Note
      that namespace names must be unique across an entire CTS2 implementation - the same
      namespace name cannot represent one namespace in code system A and a second in code system B.
      Note also that namespace names are \emph{local} to a service instance. Information that is
      communicated between service instances, recorded in data tables or client software
      \emph{must} use full URIs.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownNamespace">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownNamespaceResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a reference to the individual or
      organization that provides the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceProvider">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceProviderResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of service profiles that are
      supported by this service implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedProfile">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a description of the service, its
      use, etc.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceDescription">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a short name that identifies the
      particular service and implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceName">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceNameResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the particular implementation type(s)
      supported by this profile</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getImplementationType">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getImplementationTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!-- EndBaseService -->
    <wsdl:operation name="listChanges">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">List the URIs of all the changes that
      were applied between &lt;i&gt;fromDate&lt;/i&gt; and &lt;i&gt;toDate&lt;/i&gt;. If
      &lt;i&gt;fromDate&lt;/i&gt; is absent or is less than &lt;i&gt;toDate&lt;/i&gt;, entries will
      be listed in forward chronological order, otherwise they will be listed in reverse order.List
      the URIs of all the changes that were applied between &lt;i&gt;fromDate&lt;/i&gt; and
      &lt;i&gt;toDate&lt;/i&gt;. If &lt;i&gt;fromDate&lt;/i&gt; is absent or is less than
      &lt;i&gt;toDate&lt;/i&gt;, entries will be listed in forward chronological order, otherwise
      they will be listed in reverse order.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listChanges">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="listChangesResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="putChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Install the supplied change set into
      the service.Install the supplied change set into the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="putChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="putChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="validateChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Validate the change set and report
      any errors or warnings that would occur were it to be applied.Validate the change set and
      report any errors or warnings that would occur were it to be applied.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="validateChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <wsdl:fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnableToOpenDocument">
        <wsdl:documentation>the process is unable to open the primary document to be
          imported</wsdl:documentation>
        <soap:fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnableToOpenDocument" />
      </wsdl:fault>

    </wsdl:operation>

    <wsdl:operation name="getSupportedStructures">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of structural profiles that
      the update service can apply changes to</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedStructures">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedStructuresResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="UpdateService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">An update service provides the ability
    to apply incremental changes to one or more structural elements that are supported by the
    service</documentation>

    <wsdl:port name="UpdateServicePort" binding="tns:UpdateServiceSoapBinding">
      <soap:address location="http://localhost:9090/UpdateServicePort" />
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
