wsdl/ValueSetDefinitionMaintenanceService.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:baseMaintenanceService="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseMaintenanceServices"
xmlns:baseServiceTypes="http://www.omg.org/spec/CTS2/1.1/wsdl/BaseServiceTypes"
xmlns:updateServiceTypes="http://www.omg.org/spec/CTS2/1.1/wsdl/UpdateServices"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:tns="http://www.omg.org/spec/CTS2/1.1/wsdl/ValueSetDefinitionMaintenanceServices"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
name="ValueSetDefinitionMaintenanceService"
targetNamespace="http://www.omg.org/spec/CTS2/1.1/wsdl/ValueSetDefinitionMaintenanceServices">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.omg.org/spec/CTS2/1.1/wsdl/ValueSetDefinitionMaintenanceServices"
      schemaLocation="ValueSetDefinitionMaintenanceServiceTypes.xsd" />
    </xsd:schema>

  </wsdl:types>

  <!-- BaseService Messages -->
  <wsdl:message name="getServiceDescription">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescription" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProvider">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProvider" />
  </wsdl:message>

  <wsdl:message name="getServiceNameResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceNameResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceProviderResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceProviderResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceVersion">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersion" />
  </wsdl:message>

  <wsdl:message name="getServiceVersionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceVersionResponse" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormatResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormatResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationTypeResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationTypeResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfileResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfileResponse" />
  </wsdl:message>

  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceDescriptionResponse" />
  </wsdl:message>

  <wsdl:message name="getImplementationType">
    <wsdl:part name="parameters" element="baseServiceTypes:getImplementationType" />
  </wsdl:message>

  <wsdl:message name="getServiceName">
    <wsdl:part name="parameters" element="baseServiceTypes:getServiceName" />
  </wsdl:message>

  <wsdl:message name="getDefaultFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getDefaultFormat" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespace">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespace" />
  </wsdl:message>

  <wsdl:message name="getKnownNamespaceResponse">
    <wsdl:part name="parameters" element="baseServiceTypes:getKnownNamespaceResponse" />
  </wsdl:message>

  <wsdl:message name="getSupportedFormat">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedFormat" />
  </wsdl:message>

  <wsdl:message name="getSupportedProfile">
    <wsdl:part name="parameters" element="baseServiceTypes:getSupportedProfile" />
  </wsdl:message>

  <!-- End BaseService Messages -->
  <!-- UpdateService Messages -->
  <wsdl:message name="getSupportedStructures">
    <wsdl:part name="parameters" element="updateServiceTypes:getSupportedStructures" />
  </wsdl:message>

  <wsdl:message name="getSupportedStructuresResponse">
    <wsdl:part name="parameters" element="updateServiceTypes:getSupportedStructuresResponse" />
  </wsdl:message>

  <!-- End UpdateService Messages -->
  <wsdl:message name="listChanges">
    <wsdl:part name="parameters" element="tns:listChanges" />
  </wsdl:message>

  <wsdl:message name="updateChangeSetMetadataResponse">
    <wsdl:part name="parameters" element="tns:updateChangeSetMetadataResponse" />
  </wsdl:message>

  <wsdl:message name="updateChangeSetMetadata">
    <wsdl:part name="parameters" element="tns:updateChangeSetMetadata" />
  </wsdl:message>

  <wsdl:message name="validateChangeSetResponse">
    <wsdl:part name="parameters" element="tns:validateChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="putChangeSetResponse">
    <wsdl:part name="parameters" element="tns:putChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="readChangeSetResponse">
    <wsdl:part name="parameters" element="tns:readChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="deleteChangeableResponse">
    <wsdl:part name="parameters" element="tns:deleteChangeableResponse" />
  </wsdl:message>

  <wsdl:message name="updateChangeableMetadata">
    <wsdl:part name="parameters" element="tns:updateChangeableMetadata" />
  </wsdl:message>

  <wsdl:message name="rollbackChangeSetResponse">
    <wsdl:part name="parameters" element="tns:rollbackChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="deleteChangeable">
    <wsdl:part name="parameters" element="tns:deleteChangeable" />
  </wsdl:message>

  <wsdl:message name="clone">
    <wsdl:part name="parameters" element="tns:clone" />
  </wsdl:message>
  
  <wsdl:message name="cloneResponse">
    <wsdl:part name="parameters" element="tns:cloneResponse" />
  </wsdl:message>
  
  <wsdl:message name="commitChangeSetResponse">
    <wsdl:part name="parameters" element="tns:commitChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="readChangeSet">
    <wsdl:part name="parameters" element="tns:readChangeSet" />
  </wsdl:message>

  <wsdl:message name="validateChangeSet">
    <wsdl:part name="parameters" element="tns:validateChangeSet" />
  </wsdl:message>

  <wsdl:message name="rollbackChangeSet">
    <wsdl:part name="parameters" element="tns:rollbackChangeSet" />
  </wsdl:message>

  <wsdl:message name="createChangeSetResponse">
    <wsdl:part name="parameters" element="tns:createChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="updateChangeableMetadataResponse">
    <wsdl:part name="parameters" element="tns:updateChangeableMetadataResponse" />
  </wsdl:message>

  <wsdl:message name="commitChangeSet">
    <wsdl:part name="parameters" element="tns:commitChangeSet" />
  </wsdl:message>

  <wsdl:message name="createChangeSet">
    <wsdl:part name="parameters" element="tns:createChangeSet" />
  </wsdl:message>

  <wsdl:message name="listChangesResponse">
    <wsdl:part name="parameters" element="tns:listChangesResponse" />
  </wsdl:message>

  <wsdl:message name="putChangeSet">
    <wsdl:part name="parameters" element="tns:putChangeSet" />
  </wsdl:message>

  <wsdl:message name="addExternalValueSetDefinitionResponse">
    <wsdl:part name="parameters" element="tns:addExternalValueSetDefinitionResponse" />
  </wsdl:message>

  <wsdl:message name="createPropertyQueryReferenceResponse">
    <wsdl:part name="parameters" element="tns:createPropertyQueryReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="createExternalValueSetDefinition">
    <wsdl:part name="parameters" element="tns:createExternalValueSetDefinition" />
  </wsdl:message>

  <wsdl:message name="createSpecificEntityListDefinition">
    <wsdl:part name="parameters" element="tns:createSpecificEntityListDefinition" />
  </wsdl:message>

  <wsdl:message name="createSpecificEntityListDefinitionResponse">
    <wsdl:part name="parameters" element="tns:createSpecificEntityListDefinitionResponse" />
  </wsdl:message>

  <wsdl:message name="createCompleteValueSetReference">
    <wsdl:part name="parameters" element="tns:createCompleteValueSetReference" />
  </wsdl:message>

  <wsdl:message name="createCompleteCodeSystemReferenceResponse">
    <wsdl:part name="parameters" element="tns:createCompleteCodeSystemReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="addAssociatedEntitiesReferenceResponse">
    <wsdl:part name="parameters" element="tns:addAssociatedEntitiesReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="addCompleteCodeSystemReferenceResponse">
    <wsdl:part name="parameters" element="tns:addCompleteCodeSystemReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="addSpecificEntityListDefinitionResponse">
    <wsdl:part name="parameters" element="tns:addSpecificEntityListDefinitionResponse" />
  </wsdl:message>

  <wsdl:message name="addPropertyQueryReference">
    <wsdl:part name="parameters" element="tns:addPropertyQueryReference" />
  </wsdl:message>

  <wsdl:message name="addCompleteValueSetReference">
    <wsdl:part name="parameters" element="tns:addCompleteValueSetReference" />
  </wsdl:message>

  <wsdl:message name="removeDefinitionEntryResponse">
    <wsdl:part name="parameters" element="tns:removeDefinitionEntryResponse" />
  </wsdl:message>

  <wsdl:message name="createCompleteCodeSystemReference">
    <wsdl:part name="parameters" element="tns:createCompleteCodeSystemReference" />
  </wsdl:message>

  <wsdl:message name="createAssociatedEntitiesReferenceResponse">
    <wsdl:part name="parameters" element="tns:createAssociatedEntitiesReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="createPropertyQueryReference">
    <wsdl:part name="parameters" element="tns:createPropertyQueryReference" />
  </wsdl:message>

  <wsdl:message name="addCompleteValueSetReferenceResponse">
    <wsdl:part name="parameters" element="tns:addCompleteValueSetReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="removeDefinitionEntry">
    <wsdl:part name="parameters" element="tns:removeDefinitionEntry" />
  </wsdl:message>

  <wsdl:message name="createAssociatedEntitiesReference">
    <wsdl:part name="parameters" element="tns:createAssociatedEntitiesReference" />
  </wsdl:message>

  <wsdl:message name="addPropertyQueryReferenceResponse">
    <wsdl:part name="parameters" element="tns:addPropertyQueryReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="addCompleteCodeSystemReference">
    <wsdl:part name="parameters" element="tns:addCompleteCodeSystemReference" />
  </wsdl:message>

  <wsdl:message name="addExternalValueSetDefinition">
    <wsdl:part name="parameters" element="tns:addExternalValueSetDefinition" />
  </wsdl:message>

  <wsdl:message name="addSpecificEntityListDefinition">
    <wsdl:part name="parameters" element="tns:addSpecificEntityListDefinition" />
  </wsdl:message>

  <wsdl:message name="createCompleteValueSetReferenceResponse">
    <wsdl:part name="parameters" element="tns:createCompleteValueSetReferenceResponse" />
  </wsdl:message>

  <wsdl:message name="addAssociatedEntitiesReference">
    <wsdl:part name="parameters" element="tns:addAssociatedEntitiesReference" />
  </wsdl:message>

  <wsdl:message name="createExternalValueSetDefinitionResponse">
    <wsdl:part name="parameters" element="tns:createExternalValueSetDefinitionResponse" />
  </wsdl:message>

  <wsdl:message name="readIteratableChangeSet">
    <wsdl:part name="parameters" element="tns:readIteratableChangeSet" />
  </wsdl:message>

  <wsdl:message name="readIteratableChangeSetResponse">
    <wsdl:part name="parameters" element="tns:readIteratableChangeSetResponse" />
  </wsdl:message>

  <wsdl:message name="newProperty">
    <wsdl:part name="parameters" element="tns:newProperty" />
  </wsdl:message>

  <wsdl:message name="newPropertyResponse">
    <wsdl:part name="parameters" element="tns:newPropertyResponse" />
  </wsdl:message>

  <wsdl:message name="newResourceTarget">
    <wsdl:part name="parameters" element="tns:newResourceTarget" />
  </wsdl:message>

  <wsdl:message name="newResourceTargetResponse">
    <wsdl:part name="parameters" element="tns:newResourceTargetResponse" />
  </wsdl:message>

  <wsdl:message name="newLiteralTarget">
    <wsdl:part name="parameters" element="tns:newLiteralTarget" />
  </wsdl:message>

  <wsdl:message name="newLiteralTargetResponse">
    <wsdl:part name="parameters" element="tns:newLiteralTargetResponse" />
  </wsdl:message>

  <wsdl:message name="newEntityReferenceTarget">
    <wsdl:part name="parameters" element="tns:newEntityReferenceTarget" />
  </wsdl:message>

  <wsdl:message name="newEntityReferenceTargetResponse">
    <wsdl:part name="parameters" element="tns:newEntityReferenceTargetResponse" />
  </wsdl:message>

  <wsdl:portType name="ValueSetDefinitionMaintenanceServicePortType">
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <wsdl:input name="getSupportedFormat" message="tns:getSupportedFormat" />
      <wsdl:output name="getSupportedFormatResponse" message="tns:getSupportedFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <wsdl:input name="getServiceVersion" message="tns:getServiceVersion" />
      <wsdl:output name="getServiceVersionResponse" message="tns:getServiceVersionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <wsdl:input name="getDefaultFormat" message="tns:getDefaultFormat" />
      <wsdl:output name="getDefaultFormatResponse" message="tns:getDefaultFormatResponse" />
    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <wsdl:input name="getKnownNamespace" message="tns:getKnownNamespace" />
      <wsdl:output name="getKnownNamespaceResponse" message="tns:getKnownNamespaceResponse" />
    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <wsdl:input name="getSupportedProfile" message="tns:getSupportedProfile" />
      <wsdl:output name="getSupportedProfileResponse" message="tns:getSupportedProfileResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <wsdl:input name="getServiceProvider" message="tns:getServiceProvider" />
      <wsdl:output name="getServiceProviderResponse" message="tns:getServiceProviderResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <wsdl:input name="getServiceName" message="tns:getServiceName" />
      <wsdl:output name="getServiceNameResponse" message="tns:getServiceNameResponse" />
    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <wsdl:input name="getServiceDescription" message="tns:getServiceDescription" />
      <wsdl:output name="getServiceDescriptionResponse"
      message="tns:getServiceDescriptionResponse" />
    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <wsdl:input name="getImplementationType" message="tns:getImplementationType" />
      <wsdl:output name="getImplementationTypeResponse"
      message="tns:getImplementationTypeResponse" />
    </wsdl:operation>

    <!-- End BaseService -->
    <!-- UpdateService -->
    <wsdl:operation name="getSupportedStructures">
      <wsdl:input name="getSupportedStructures" message="tns:getSupportedStructures" />
      <wsdl:output name="getSupportedStructuresResponse"
      message="tns:getSupportedStructuresResponse" />
    </wsdl:operation>

    <!-- End UpdateService -->
    <wsdl:operation name="updateChangeSetMetadata">
      <wsdl:input name="updateChangeSetMetadata" message="tns:updateChangeSetMetadata" />
      <wsdl:output name="updateChangeSetMetadataResponse"
      message="tns:updateChangeSetMetadataResponse" />
    </wsdl:operation>

    <wsdl:operation name="commitChangeSet">
      <wsdl:input name="commitChangeSet" message="tns:commitChangeSet" />
      <wsdl:output name="commitChangeSetResponse" message="tns:commitChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="updateChangeableMetadata">
      <wsdl:input name="updateChangeableMetadata" message="tns:updateChangeableMetadata" />
      <wsdl:output name="updateChangeableMetadataResponse"
      message="tns:updateChangeableMetadataResponse" />
    </wsdl:operation>

    <wsdl:operation name="deleteChangeable">
      <wsdl:input name="deleteChangeable" message="tns:deleteChangeable" />
      <wsdl:output name="deleteChangeableResponse" message="tns:deleteChangeableResponse" />
    </wsdl:operation>

    <wsdl:operation name="clone">
      <wsdl:input name="clone" message="tns:clone" />
      <wsdl:output name="cloneResponse" message="tns:cloneResponse" />
    </wsdl:operation>
    
    <wsdl:operation name="rollbackChangeSet">
      <wsdl:input name="rollbackChangeSet" message="tns:rollbackChangeSet" />
      <wsdl:output name="rollbackChangeSetResponse" message="tns:rollbackChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="validateChangeSet">
      <wsdl:input name="validateChangeSet" message="tns:validateChangeSet" />
      <wsdl:output name="validateChangeSetResponse" message="tns:validateChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="readChangeSet">
      <wsdl:input name="readChangeSet" message="tns:readChangeSet" />
      <wsdl:output name="readChangeSetResponse" message="tns:readChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="listChanges">
      <wsdl:input name="listChanges" message="tns:listChanges" />
      <wsdl:output name="listChangesResponse" message="tns:listChangesResponse" />
    </wsdl:operation>

    <wsdl:operation name="createChangeSet">
      <wsdl:input name="createChangeSet" message="tns:createChangeSet" />
      <wsdl:output name="createChangeSetResponse" message="tns:createChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="putChangeSet">
      <wsdl:input name="putChangeSet" message="tns:putChangeSet" />
      <wsdl:output name="putChangeSetResponse" message="tns:putChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="addPropertyQueryReference">
      <wsdl:input name="addPropertyQueryReference" message="tns:addPropertyQueryReference" />
      <wsdl:output name="addPropertyQueryReferenceResponse"
      message="tns:addPropertyQueryReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="createCompleteCodeSystemReference">
      <wsdl:input name="createCompleteCodeSystemReference"
      message="tns:createCompleteCodeSystemReference" />
      <wsdl:output name="createCompleteCodeSystemReferenceResponse"
      message="tns:createCompleteCodeSystemReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="createCompleteValueSetReference">
      <wsdl:input name="createCompleteValueSetReference"
      message="tns:createCompleteValueSetReference" />
      <wsdl:output name="createCompleteValueSetReferenceResponse"
      message="tns:createCompleteValueSetReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="addSpecificEntityListDefinition">
      <wsdl:input name="addSpecificEntityListDefinition"
      message="tns:addSpecificEntityListDefinition" />
      <wsdl:output name="addSpecificEntityListDefinitionResponse"
      message="tns:addSpecificEntityListDefinitionResponse" />
    </wsdl:operation>

    <wsdl:operation name="createAssociatedEntitiesReference">
      <wsdl:input name="createAssociatedEntitiesReference"
      message="tns:createAssociatedEntitiesReference" />
      <wsdl:output name="createAssociatedEntitiesReferenceResponse"
      message="tns:createAssociatedEntitiesReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="addCompleteValueSetReference">
      <wsdl:input name="addCompleteValueSetReference" message="tns:addCompleteValueSetReference" />
      <wsdl:output name="addCompleteValueSetReferenceResponse"
      message="tns:addCompleteValueSetReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="createSpecificEntityListDefinition">
      <wsdl:input name="createSpecificEntityListDefinition"
      message="tns:createSpecificEntityListDefinition" />
      <wsdl:output name="createSpecificEntityListDefinitionResponse"
      message="tns:createSpecificEntityListDefinitionResponse" />
    </wsdl:operation>

    <wsdl:operation name="createExternalValueSetDefinition">
      <wsdl:input name="createExternalValueSetDefinition"
      message="tns:createExternalValueSetDefinition" />
      <wsdl:output name="createExternalValueSetDefinitionResponse"
      message="tns:createExternalValueSetDefinitionResponse" />
    </wsdl:operation>

    <wsdl:operation name="removeDefinitionEntry">
      <wsdl:input name="removeDefinitionEntry" message="tns:removeDefinitionEntry" />
      <wsdl:output name="removeDefinitionEntryResponse"
      message="tns:removeDefinitionEntryResponse" />
    </wsdl:operation>

    <wsdl:operation name="addExternalValueSetDefinition">
      <wsdl:input name="addExternalValueSetDefinition"
      message="tns:addExternalValueSetDefinition" />
      <wsdl:output name="addExternalValueSetDefinitionResponse"
      message="tns:addExternalValueSetDefinitionResponse" />
    </wsdl:operation>

    <wsdl:operation name="addAssociatedEntitiesReference">
      <wsdl:input name="addAssociatedEntitiesReference"
      message="tns:addAssociatedEntitiesReference" />
      <wsdl:output name="addAssociatedEntitiesReferenceResponse"
      message="tns:addAssociatedEntitiesReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="createPropertyQueryReference">
      <wsdl:input name="createPropertyQueryReference" message="tns:createPropertyQueryReference" />
      <wsdl:output name="createPropertyQueryReferenceResponse"
      message="tns:createPropertyQueryReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="addCompleteCodeSystemReference">
      <wsdl:input name="addCompleteCodeSystemReference"
      message="tns:addCompleteCodeSystemReference" />
      <wsdl:output name="addCompleteCodeSystemReferenceResponse"
      message="tns:addCompleteCodeSystemReferenceResponse" />
    </wsdl:operation>

    <wsdl:operation name="readIteratableChangeSet">
      <wsdl:input name="readIteratableChangeSet" message="tns:readIteratableChangeSet" />
      <wsdl:output name="readIteratableChangeSetResponse"
      message="tns:readIteratableChangeSetResponse" />
    </wsdl:operation>

    <wsdl:operation name="newProperty">
      <wsdl:input name="newProperty" message="tns:newProperty" />
      <wsdl:output name="newPropertyResponse" message="tns:newPropertyResponse" />
    </wsdl:operation>

    <wsdl:operation name="newResourceTarget">
      <wsdl:input name="newResourceTarget" message="tns:newResourceTarget" />
      <wsdl:output name="newResourceTargetResponse" message="tns:newResourceTargetResponse" />
    </wsdl:operation>

    <wsdl:operation name="newLiteralTarget">
      <wsdl:input name="newLiteralTarget" message="tns:newLiteralTarget" />
      <wsdl:output name="newLiteralTargetResponse" message="tns:newLiteralTargetResponse" />
    </wsdl:operation>

    <wsdl:operation name="newEntityReferenceTarget">
      <wsdl:input name="newEntityReferenceTarget" message="tns:newEntityReferenceTarget" />
      <wsdl:output name="newEntityReferenceTargetResponse"
      message="tns:newEntityReferenceTargetResponse" />
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="ValueSetDefinitionMaintenanceServiceSoapBinding"
  type="tns:ValueSetDefinitionMaintenanceServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <!-- BaseService -->
    <wsdl:operation name="getSupportedFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">alist of the representation formats
      supported by the service. Example: text/html, text/xml, application/json</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceVersion">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the version or release identifier of
      the service</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceVersion">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getDefaultFormat">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the default format used by the
      service unless otherwise specified</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDefaultFormat">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getDefaultFormatResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getKnownNamespace">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of namespaces recognized by
      this service. Because many namespace identifiers tend to be cryptic (i.e. HL7 OIDs, BioPortal
      URL's, etc.), &lt;i&gt;knownNamespace&lt;/i&gt; includes the namespace name, an optional URI
      \emph{and} a place to provide textual detail describing what the namespace references. Note
      that namespace names must be unique across an entire CTS2 implementation - the same
      namespace name cannot represent one namespace in code system A and a second in code system B.
      Note also that namespace names are \emph{local} to a service instance. Information that is
      communicated between service instances, recorded in data tables or client software
      \emph{must} use full URIs.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKnownNamespace">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getKnownNamespaceResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceProvider">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a reference to the individual or
      organization that provides the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceProvider">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceProviderResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getSupportedProfile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of service profiles that are
      supported by this service implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedProfile">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceDescription">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a description of the service, its
      use, etc.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceDescription">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getServiceName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">a short name that identifies the
      particular service and implementation</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceName">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getServiceNameResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="getImplementationType">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the particular implementation type(s)
      supported by this profile</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getImplementationType">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getImplementationTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!-- EndBaseService -->
    <!-- UpdateService -->
    <wsdl:operation name="getSupportedStructures">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">the set of structural profiles that
      the update service can apply changes to</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedStructures">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="getSupportedStructuresResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!-- End UpdateService -->
    <wsdl:operation name="updateChangeSetMetadata">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Update the descriptive information of
      a change set.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateChangeSetMetadata">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="updateChangeSetMetadataResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="commitChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Apply the proposed changes specified
      in the change set transaction to the changeable being updated.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="commitChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="commitChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="updateChangeableMetadata">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Update the metadata for a change set
      and return an image of the updated resource.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateChangeableMetadata">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="updateChangeableMetadataResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="deleteChangeable">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Remove the
      &lt;i&gt;changeAble&lt;/i&gt; resource from the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteChangeable">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="deleteChangeableResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    
    <wsdl:operation name="clone">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Clone the
      &lt;i&gt;changeAble&lt;/i&gt; resource.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="clone">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="cloneResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="rollbackChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Cancel the proposed changes specified
      in a change set transaction to the changeable being updated.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="rollbackChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="rollbackChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="readChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the change set referenced by
      the supplied URI.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="readChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="readChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="validateChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Validate the change set and report
      any errors or warnings that would occur were it to be applied.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="validateChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="listChanges">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">List the URIs of all the changes that
      were applied between &lt;i&gt;fromDate&lt;/i&gt; and &lt;i&gt;toDate&lt;/i&gt;. If
      &lt;i&gt;fromDate&lt;/i&gt; is absent or is less than &lt;i&gt;toDate&lt;/i&gt;, entries will
      be listed in forward chronological order, otherwise they will be listed in reverse
      order.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listChanges">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="listChangesResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="createChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new change set and set it in
      an OPEN state</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="createChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="putChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Install the supplied change set into
      the service.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="putChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="putChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="addPropertyQueryReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">add a &lt;i&gt;PropertyQueryReference
      &lt;/i&gt; to the end of an existing &lt;i&gt;ValueSetDefinition&lt;/i&gt;add a
      &lt;i&gt;PropertyQueryReference &lt;/i&gt; to the end of an existing
      &lt;i&gt;ValueSetDefinition&lt;/i&gt;</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addPropertyQueryReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="addPropertyQueryReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSetDefinition">
        <documentation>The &lt;i&gt;valueSetDefinition&lt;/i&gt; URI isn't recognized by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSetDefinition" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <documentation>The supplied namespace name is not one that is known to the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownEntity">
        <documentation>The &lt;i&gt;EntityNameOrURI&lt;/i&gt; is not known to the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownEntity" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="SortAndFilterException">
        <documentation>Errors that can occur in sort and/or filter parameters</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="SortAndFilterException" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedMatchAlgorithm">
        <documentation>The &lt;i&gt;matchAlgorithm&lt;/i&gt; is not supported by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedMatchAlgorithm" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPropertyReferenceTarget">
        <documentation>The set of exceptions that pertain to a
        &lt;i&gt;PropertyReferenceTarget&lt;/i&gt;</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
        name="UnsupportedPropertyReferenceTarget" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MatchValueFormatException">
        <documentation>The match value does not meet the format or syntax required or the supplied
        match algorithm.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MatchValueFormatException" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="createCompleteCodeSystemReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new value set definition
      consisting of a &lt;i&gt;CompleteCodeSystemReference w&lt;/i&gt;ith the
      &lt;i&gt;operator&lt;/i&gt; set to &lt;i&gt;UNION&lt;/i&gt; referencing the supplied code
      system and optional version. A service implementation MAY choose to validate the code system
      URI and/or verify that the supplied version is valid for the code system. The implementation
      MAY, instead, assume the supplied URIs are valid and simply unknown to the service at this
      point in time.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createCompleteCodeSystemReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="createCompleteCodeSystemReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystem">
        <documentation>The referenced &lt;i&gt;CodeSystem&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystem" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystemVersion">
        <documentation>The referenced &lt;i&gt;CodeSystemVersion&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystemVersion" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="CodeSystemVersionMismatch">
        <documentation>The named code system version is not a version of the named code
        system.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="CodeSystemVersionMismatch" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="createCompleteValueSetReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new value set definition
      consisting of a &lt;i&gt;CompleteValueSetReference w&lt;/i&gt;ith the
      &lt;i&gt;operator&lt;/i&gt; set to &lt;i&gt;UNION&lt;/i&gt; referencing the supplied code
      system and optional version. A service implementation MAY choose to validate the value set
      URI and/or verify that the supplied version is valid for the value set. The implementation
      MAY, instead, assume the supplied URIs are valid and simply unknown to the service at this
      point in time. The service implementation MAY choose to validate the supplied code system
      versions and/or validate whether the versions are referenced in the supplied (optional) value
      set definition.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createCompleteValueSetReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="createCompleteValueSetReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystemVersion">
        <documentation>The referenced &lt;i&gt;CodeSystemVersion&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystemVersion" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ValueSetDefinitionMismatch">
        <documentation>The named value set definition was not a definition for the named value
        set.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ValueSetDefinitionMismatch" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="addSpecificEntityListDefinition">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add a
      &lt;i&gt;SpecificEntityList&lt;/i&gt; component to an existing
      &lt;i&gt;ValueSetDefinition.&lt;/i&gt;Add a &lt;i&gt;SpecificEntityList&lt;/i&gt; component
      to an existing &lt;i&gt;ValueSetDefinition.&lt;/i&gt;</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addSpecificEntityListDefinition">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="addSpecificEntityListDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <documentation>The supplied namespace name is not one that is known to the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSetDefinition">
        <documentation>The &lt;i&gt;valueSetDefinition&lt;/i&gt; URI isn't recognized by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSetDefinition" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownEntity">
        <documentation>The &lt;i&gt;EntityNameOrURI&lt;/i&gt; is not known to the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownEntity" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="addCompleteValueSetReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add a
      &lt;i&gt;CompleteValueSetReference&lt;/i&gt; component to an existing
      &lt;i&gt;ValueSetDefinition&lt;/i&gt;Add a &lt;i&gt;CompleteValueSetReference&lt;/i&gt;
      component to an existing &lt;i&gt;ValueSetDefinition&lt;/i&gt;</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addCompleteValueSetReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="addCompleteValueSetReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSetDefinition">
        <documentation>The &lt;i&gt;valueSetDefinition&lt;/i&gt; URI isn't recognized by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSetDefinition" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystemVersion">
        <documentation>The referenced &lt;i&gt;CodeSystemVersion&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystemVersion" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ValueSetDefinitionMismatch">
        <documentation>The named value set definition was not a definition for the named value
        set.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ValueSetDefinitionMismatch" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="createAssociatedEntitiesReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new value set definition
      consisting of an &lt;i&gt;AssociatedEntitiesReference w&lt;/i&gt;ith the
      &lt;i&gt;operator&lt;/i&gt; set to &lt;i&gt;UNION&lt;/i&gt; referencing the supplied set of
      entitiesCreate a new value set definition consisting of an
      &lt;i&gt;AssociatedEntitiesReference w&lt;/i&gt;ith the &lt;i&gt;operator&lt;/i&gt; set to
      &lt;i&gt;UNION&lt;/i&gt; referencing the supplied set of entities</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createAssociatedEntitiesReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="createAssociatedEntitiesReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystem">
        <documentation>The referenced &lt;i&gt;CodeSystem&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystem" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <documentation>The supplied namespace name is not one that is known to the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="CodeSystemVersionMismatch">
        <documentation>The named code system version is not a version of the named code
        system.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="CodeSystemVersionMismatch" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPredicate">
        <documentation>The predicate name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedPredicate" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystemVersion">
        <documentation>The referenced &lt;i&gt;CodeSystemVersion&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystemVersion" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownEntity">
        <documentation>The &lt;i&gt;EntityNameOrURI&lt;/i&gt; is not known to the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownEntity" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="createSpecificEntityListDefinition">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new value set definition
      consisting of a &lt;i&gt;SpecificEntityList w&lt;/i&gt;ith the &lt;i&gt;operator&lt;/i&gt;
      set to &lt;i&gt;UNION&lt;/i&gt; referencing the supplied set of entities</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createSpecificEntityListDefinition">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="createSpecificEntityListDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <documentation>The supplied namespace name is not one that is known to the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownEntity">
        <documentation>The &lt;i&gt;EntityNameOrURI&lt;/i&gt; is not known to the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownEntity" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="createExternalValueSetDefinition">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new value set definition
      consisting of an &lt;i&gt;ExternalValueSetDefinition&lt;/i&gt; with the
      &lt;i&gt;operator&lt;/i&gt; set to &lt;i&gt;UNION&lt;/i&gt;Create a new value set definition
      consisting of an &lt;i&gt;ExternalValueSetDefinition&lt;/i&gt; with the
      &lt;i&gt;operator&lt;/i&gt; set to &lt;i&gt;UNION&lt;/i&gt;</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createExternalValueSetDefinition">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="createExternalValueSetDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="addExternalValueSetDefinition">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add an
      &lt;i&gt;ExternalValueSetDefinition&lt;/i&gt; component to an existing
      &lt;i&gt;ValueSetDefinition&lt;/i&gt;.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addExternalValueSetDefinition">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="addExternalValueSetDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSetDefinition">
        <documentation>The &lt;i&gt;valueSetDefinition&lt;/i&gt; URI isn't recognized by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSetDefinition" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="removeDefinitionEntry">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Remove the specified definition entry
      from the named value setRemove the specified definition entry from the named value
      set</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeDefinitionEntry">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="removeDefinitionEntryResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="InvalidIndexNumber">
        <documentation>The supplied number does not reference an existing
        &lt;i&gt;ValueSetDefinitionEntry&lt;/i&gt; or the operation would remove the last
        &lt;i&gt;ValueSetDefinitionEntry&lt;/i&gt; from a definition.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="InvalidIndexNumber" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSetDefinition">
        <documentation>The &lt;i&gt;valueSetDefinition&lt;/i&gt; URI isn't recognized by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSetDefinition" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="addAssociatedEntitiesReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add an
      &lt;i&gt;AssociatedEntitiesReference&lt;/i&gt; component to an existing
      &lt;i&gt;ValueSetDefinition.&lt;/i&gt;</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addAssociatedEntitiesReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="addAssociatedEntitiesReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystem">
        <documentation>The referenced &lt;i&gt;CodeSystem&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystem" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <documentation>The supplied namespace name is not one that is known to the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSetDefinition">
        <documentation>The &lt;i&gt;valueSetDefinition&lt;/i&gt; URI isn't recognized by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSetDefinition" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="CodeSystemVersionMismatch">
        <documentation>The named code system version is not a version of the named code
        system.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="CodeSystemVersionMismatch" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPredicate">
        <documentation>The predicate name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedPredicate" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystemVersion">
        <documentation>The referenced &lt;i&gt;CodeSystemVersion&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystemVersion" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownEntity">
        <documentation>The &lt;i&gt;EntityNameOrURI&lt;/i&gt; is not known to the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownEntity" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="addCompleteCodeSystemReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add a
      &lt;i&gt;CompleteCodeSystemReference&lt;/i&gt; to an existing
      &lt;i&gt;ValueSetDefinition&lt;/i&gt;</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addCompleteCodeSystemReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="addCompleteCodeSystemReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSetDefinition">
        <documentation>The &lt;i&gt;valueSetDefinition&lt;/i&gt; URI isn't recognized by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSetDefinition" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystem">
        <documentation>The referenced &lt;i&gt;CodeSystem&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystem" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownCodeSystemVersion">
        <documentation>The referenced &lt;i&gt;CodeSystemVersion&lt;/i&gt; is not recognized by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownCodeSystemVersion" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="CodeSystemVersionMismatch">
        <documentation>The named code system version is not a version of the named code
        system.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="CodeSystemVersionMismatch" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="createPropertyQueryReference">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new value set definition
      consisting of a &lt;i&gt;PropertyQueryReference w&lt;/i&gt;ith the
      &lt;i&gt;operator&lt;/i&gt; set to &lt;i&gt;UNION&lt;/i&gt;</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createPropertyQueryReference">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="createPropertyQueryReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownValueSet">
        <documentation>The value set name or URI is not recognized by the service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownValueSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownChangeSet">
        <documentation>The change set specified could either not be read or located by the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownChangeSet" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ResourceIsNotOpen">
        <documentation>The target resource version description has been finalized and cannot be
        updated.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ResourceIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeSetIsNotOpen">
        <documentation>The &lt;i&gt;changeSetContext&lt;/i&gt; is recognized by the service, but
        its state is not &lt;i&gt;OPEN&lt;/i&gt;.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeSetIsNotOpen" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedNamespaceName">
        <documentation>The supplied namespace name is not one that is known to the
        service.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedNamespaceName" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnknownEntity">
        <documentation>The &lt;i&gt;EntityNameOrURI&lt;/i&gt; is not known to the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnknownEntity" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="SortAndFilterException">
        <documentation>Errors that can occur in sort and/or filter parameters</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="SortAndFilterException" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedMatchAlgorithm">
        <documentation>The &lt;i&gt;matchAlgorithm&lt;/i&gt; is not supported by the
        service</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="UnsupportedMatchAlgorithm" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="UnsupportedPropertyReferenceTarget">
        <documentation>The set of exceptions that pertain to a
        &lt;i&gt;PropertyReferenceTarget&lt;/i&gt;</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
        name="UnsupportedPropertyReferenceTarget" />
      </fault>

      <fault xmlns="http://schemas.xmlsoap.org/wsdl/" name="MatchValueFormatException">
        <documentation>The match value does not meet the format or syntax required or the supplied
        match algorithm.</documentation>

        <fault xmlns="http://schemas.xmlsoap.org/wsdl/soap/" name="MatchValueFormatException" />
      </fault>

    </wsdl:operation>

    <wsdl:operation name="readIteratableChangeSet">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return a change set with an iterator
      that allows its contents to be read in chunks.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="readIteratableChangeSet">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="readIteratableChangeSetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="newProperty">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new
      &lt;i&gt;Property&lt;/i&gt; for inclusion in a resource or statement
      construct</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newProperty">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="newPropertyResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="newResourceTarget">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new
      &lt;i&gt;StatementTarget&lt;/i&gt; of type &lt;i&gt;RESOURCE&lt;/i&gt;. This is a helper
      function that is used in the creation and update of other resources and does \emph{not}
      change the state of the service. Note that URI's that reference classes, predicates or
      individuals should be created using the &lt;i&gt;newEntityReferenceTarget
      &lt;/i&gt;method</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newResourceTarget">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="newResourceTargetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="newLiteralTarget">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new
      &lt;i&gt;StatementTarget&lt;/i&gt; of type &lt;i&gt;LITERAL&lt;/i&gt;. Note that this is a
      helper function and does not change the state of the service itself.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newLiteralTarget">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="newLiteralTargetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="newEntityReferenceTarget">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a
      &lt;i&gt;StatementTarget&lt;/i&gt; of type &lt;i&gt;ENTITY&lt;/i&gt;. Note that this is a
      helper function and does not effect the state of the service. Services may choose to validate
      the input parameters of this method when it is invoked or may postpone validation until the
      corresponding create or update service call is invoked.</documentation>

      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newEntityReferenceTarget">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="newEntityReferenceTargetResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="ValueSetDefinitionMaintenanceService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">A service that allows the creation,
    update and removal of value set definitions.</documentation>

    <wsdl:port name="ValueSetDefinitionMaintenanceServicePort"
    binding="tns:ValueSetDefinitionMaintenanceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ValueSetDefinitionMaintenanceServicePort" />
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
